{#
    Pacolmg
    Greetik Soluciones SL
    view the posts table
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Módulos - {% endblock %}
{% set titlecontent = 'Módulos'%}
{% set subtitlecontent = 'Seleccione uno del listado de módulos para ver su detalle' %}
{% set breadcrumb = [{'title': 'Módulos', 'link': path('module_listmodules'), 'icon': 'barcode'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
{%
    set configTable = {
                                'id': 'module', 
                                'title': 'Módulos', 
                                'icon':'barcode',
                                'noOptions':true,
                                'viewdata': {'url': 'module_viewmodule'},
                                'fields': {'name': {'title': 'Nombre', 'link_view': true}, 'moduletype': {'title': 'Tipo', 'second_key': 'name','filter':true}} 
                               }
                              
%}

{% if insertAllow %}{% set configTable = configTable|merge( {'insertdata': {'url': path('module_insertmodule')}}) %}{% endif %}

{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}


{% endblock %}