{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Nuevo Módulo - {% endblock %}
{% set titlecontent = 'Nuevo Módulo' %}
{% set subtitlecontent = 'Rellene los campos para insertar un módulo '%}
{% set breadcrumb = [{'title': 'Módulos', 'link': path('module_listmodules'), 'icon': 'barcode'}, {'title': 'Nuevo', 'link': path('module_insertmodule'), 'icon': 'barcode'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

 {%
    set configForm = {
        'id' : 'insertmodule',
        'pathaction': path('module_insertmodule'),
        'pathcancel': path('module_listmodules'),
        'title': 'Module',
        'icon': 'barcode'
    }
 %}

{% block maincontent %}
    {% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
        {% block formcontent %}
                        {% if form_errors(new_form) %}
                        <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                       {% endif %}


                        {% set configField = { 'label': 'Nombre', 'field': 'name' } %}
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                        {% set configField = { 'label': 'Tipo', 'field': 'moduletype', 'classesinput':'select2' } %}
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                       
                       {{ form_widget(new_form._token) }}

        {% endblock %}                    
    {% endembed %}
    
  
{% endblock %}         

{% block additionalscripts %}
    {{ parent() }}

    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}    

{% endblock %}