{#
    Pacolmg
    Greetik Soluciones SL
    view the detail of an module
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}{{ item.name }} - Módulo - {% endblock %}
{% set titlecontent = 'Módulo' %}
{% set subtitlecontent = 'Edite los datos de '~item.name ~' desde aquí' %}
{% set breadcrumb = [{'title': 'Módulos', 'link': path('module_listmodules'), 'icon': 'barcode'}, {'title': item.name, 'link': path('module_viewmodule', {'id':  item.id}), 'icon': 'barcode'}] %}

{% block maincontent %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Post</a></li>
                    {% if modifyAllow == true %}<li><a href="#tab_1_3" data-toggle="tab">Editar</a></li>{% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-9 profile-info">

                                        {% set break=0 %}
                                        {% for field in new_form %}
                                            {% if field.vars.errors|length and break==0 %}{% set break=1 %}<div class="alert alert-danger">Compruebe los errores del formulario</div>{% endif %}
                                        {% endfor %}
                                        {% if form_errors(new_form) %}<div class="alert alert-danger">{{ form_errors(new_form) }}</div>{% endif %}

                                        <h1>{{ item.name }}
                                            <div class="btn-group">
                                                {%set pathdelete= path('module_deletemodule', {'id': item.id})%}
                                                {% include('GwadminBundle:Delete:deleteAny.html.twig') %}
                                                <!--<a href="{#{path('module_deletemodule', {'id': item.id }) }#}" class="btn btn red">Eliminar <i class="icon-trash"></i></a>-->
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </h1>                                   
                                        {{ item.moduletype.name | raw }}
                                        <p>&nbsp;</p>
                                    </div>
                                    <!--end col-md-9-->

                                    <div class="col-md-3">
                                        <div class="portlet sale-summary">
                                            <div class="portlet-title">
                                                <div class="caption"> - </div>
                                                <!--<div class="tools">
                                                   <a class="reload" href="javascript:;"></a>
                                                </div>-->
                                            </div>
                                            <div class="portlet-body">
                                                <ul class="list-unstyled">

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-md-3-->
                                </div>
                                <!--end row-->

                            </div>
                        </div>
                    </div>

                    {% if modifyAllow == true %}
                        <!--tab_1_2-->
                        <div class="tab-pane" id="tab_1_3">
                            <div class="row profile-account">
                                <div class="col-md-3">
                                    <ul class="ver-inline-menu tabbable margin-bottom-10">
                                        <li class="active">
                                            <a data-toggle="tab" href="#tab_1-1">
                                                <i class="icon-cog"></i> 
                                                Datos
                                            </a> 
                                            <span class="after"></span>                                    
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-9">
                                    <div class="tab-content">
                                        <div id="tab_1-1" class="tab-pane active">
                                            {%
                                set configForm = {
                                    'id' : 'modifymodule',
                                    'pathaction': path('module_modifymodule', { 'id': item.id }),
                                    'pathcancel': path('module_listmodules')
                                }
                                            %}


                                            {% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
                                                {% block formcontent %}
                                                    {% if form_errors(new_form) %}
                                                        <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                                                    {% endif %}

                                                    {% set configField = { 'label': 'Nombre', 'field': 'name' } %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                    {% set configField = { 'label': 'Tipo', 'field': 'moduletype', 'classesinput':'select2' } %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}


                                                    {{ form_widget(new_form._token) }}

                                                {% endblock %}                    
                                            {% endembed %}

                                        </div>
                                    </div>
                                </div>
                                <!--end col-md-9-->                                   
                            </div>
                        </div>
                    {% endif %}
                    <!--end tab-pane-->
                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block additionalscripts %}
    {{ parent() }}
    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}    


{% endblock %}    