{# empty Twig template #}
{% if modifyAllow is defined and modifyAllow == true %}<li><a data-toggle="modal" data-target="#modal_ajax" href="{{ path('contactform_insertformfieldoption', { 'id_field':item.id}) }}"><i class="icon-external-link"></i> Nuevo</a></li>{% endif %}
    {% if item.formfieldoptions is defined %}
        {% for option in item.formfieldoptions %}
        <li>
            {% if modifyAllow is defined and modifyAllow == true %}<a data-toggle="modal" data-target="#modal_ajax" href="{{ path('contactform_insertformfieldoption', {'id_field': item.id, 'id':option.id  }) }}" title="Editar"><i class="icon-pencil"></i></a>{% endif %}
            {% if modifyAllow is defined and modifyAllow == true %}<a href="{# path('module_viewmodule', {'id': module.module }) #}"><i class="icon-barcode"></i> {% endif %}
                <span class="sale-info">{{ option.name  }}</span>
                {% if modifyAllow is defined and modifyAllow == true %}</a>{% endif %}
        </li>   
    {% endfor%}
{% endif %}
