{# empty Twig template #}
{% extends 'BEInterfaceBundle:_Default:modalform.html.twig' %} 

 {% block modaltitle %}Añadir opción al campo{% endblock %}
 
{% block modalbody %}
                        {% if form_errors(new_form) %}
                        <div class="ui-state-error">{{ form_errors(new_form) }}</div>
                       {% endif %}

                       <form class="col-md-12" action="#" id="insertformfieldoptions">
                           
                            {% set configField = { 'label': 'Opción', 'field': 'name'} %}
                            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                            
                            {{ form_widget(new_form._token) }}
                            <div class="clearfix"></div>
                       </form>

    
{% endblock %}         

{% block modalbuttons %}
    {% if id is defined and id!='' and id!=0 %}<button type="button" id="btn_deleteformfieldoption" class="btn red left-btn">Eliminar</button>{% endif %}
    <button type="button" id="btn_saveformfieldoption" class="btn blue">Guardar</button>
{% endblock %}

{% block modalscripts %}
    
    
    <script>
        $(document).ready(function() {
            $('#btn_saveformfieldoption').click(function(){
                $('#buttons_modal').css('display', 'none'); $('#ajaxloader').css('display', 'block');                
                $.post('{{ path('contactform_insertmodifyformfieldoption', {'id_field':id_field, 'id': id}) }}',  $("#insertformfieldoptions").serialize() , function(r){
                    $('#buttons_modal').css('display', 'block'); $('#ajaxloader').css('display', 'none');                
                    if (r.errorCode){ alert(r.errorDescription); return; }
                    
                    $('#list_contactformoptions').html(r);
                    
                    $('.modal').modal('hide');
                });               
            });

            $('#btn_deleteformfieldoption').click(function(){
                if (!confirm('¿Realmente desea eliminar la opción del campo? OPERACIÓN IRREVERSIBLE')) return;
                $('#buttons_modal').css('display', 'none'); $('#ajaxloader').css('display', 'block');                
                $.post('{{ path('contactform_dropformfieldoption', {'id':id}) }}',  {} , function(r){
                    $('#buttons_modal').css('display', 'block'); $('#ajaxloader').css('display', 'none');                
                    if (r.errorCode){ alert(r.errorDescription); return; }
                    
                    $('#list_contactformoptions').html(r);
                    
                    $('.modal').modal('hide');
                });               
            });
        });
     </script>
 {% endblock %}