<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="author" content="Greetik Soluciones SL" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>404 - Página no encontrada</title>
<link rel="shortcut icon" href="{{ asset('/bundles/gwadmin/images/favicon.ico') }}">
</head>
<body>
	
	<div style="width:80%; margin:20px auto;">
		<img style="width:100%; margin-bottom:10px;" src="{{ asset('/bundles/gwadmin/images/404.jpg') }}">
		<p style="font-family:verdana; font-size:11px; font-style:italic; text-align:center;"><a href="{{ path('publicweb_homepage') }}">Volver a Inicio</a></p>
	</div>
	
</body>
</html>