{% if modifyAllow is defined and modifyAllow == true %}<li><a data-toggle="modal" data-target="#modal_ajax" href="{{ path('gwadmin_insertformitemlink', {'item_id': _itemid, 'item_type': _itemtype }) }}"><i class="icon-external-link"></i> Nuevo</a></li>{% endif %}
    {% if itemlinks is defined %}
        {% for link in itemlinks %}
        <li>
            {% if modifyAllow is defined and modifyAllow == true %}<a data-toggle="modal" data-target="#modal_ajax" href="{{ path('gwadmin_insertformitemlink', {'id': link.id ,'item_id': _itemid,'item_type': _itemtype }) }}" title="Editar"><i class="icon-pencil"></i></a>{% endif %}
            {% if modifyAllow is defined and modifyAllow == true %}<a href="{# path('link_viewlink', {'id': link.link }) #}"><i class="icon-barcode"></i> {% endif %}
                <span class="sale-info">{{link.name}} ({{ link.link  }})</span>
                {% if modifyAllow is defined and modifyAllow == true %}</a>{% endif %}
            {% if modifyAllow is defined and modifyAllow == true %}<a href="javascript:putUp({{link.id}})" id=""><i class="icon-arrow-up"></a></i> {% endif %}
        {% if modifyAllow is defined and modifyAllow == true %}<a href="javascript:putDown({{link.id}})" id=""><i class="icon-arrow-down"></a></i> {% endif %}
</li>   
{% endfor%}
{% endif %}


{% block additionalscripts %}
    <script>
        function putUp(id) {
            $.post("{{path('gwadmin_putuplink')}}", {'id': id}, function (r) {
                if (!r) {
                    alert("Error desconocido");
                    return;
                }
                ;
                if (r.errorCode > 0) {
                    alert(r.errorDescription);
                    return;
                }

                $('#list_itemlinks').html(r);
            });
        }

        function putDown(id) {
            $.post("{{path('gwadmin_putdownlink')}}", {'id': id}, function (r) {
                if (!r) {
                    alert("Error desconocido");
                    return;
                }
                ;
                if (r.errorCode > 0) {
                    alert(r.errorDescription);
                    return;
                }

                $('#list_itemlinks').html(r);
            });
        }
    </script>

{% endblock %}