{% extends 'BEInterfaceBundle:_Default:modalform.html.twig' %} 

 {% block modaltitle %}Añadir módulo a la sección{% endblock %}
 
{% block modalbody %}
                        {% if form_errors(new_form) %}
                        <div class="ui-state-error">{{ form_errors(new_form) }}</div>
                       {% endif %}

                       <form class="col-md-12" action="#" id="insertItemlinkform">
                           
                           {% set configField = { 'label': 'Título', 'field': 'name'} %}
                            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                           
                            {% set configField = { 'label': 'Enlace (http://...)', 'field': 'link'} %}
                            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                            
                            {{ form_widget(new_form._token) }}
                            <div class="clearfix"></div>
                       </form>

    
{% endblock %}         

{% block modalbuttons %}
    {% if id is defined and id!='' and id!=0 %}<button type="button" id="btn_deleteItemlink" class="btn red left-btn">Eliminar</button>{% endif %}
    <button type="button" id="btn_saveItemlink" class="btn blue">Guardar</button>
{% endblock %}

{% block modalscripts %}
   
    
    <script>
        $(document).ready(function() {
            $('#btn_saveItemlink').click(function(){
                $('#buttons_modal').css('display', 'none'); $('#ajaxloader').css('display', 'block');                
                $.post('{{ path('gwadmin_insertmodifyitemlink', {'item_id':item_id, 'item_type': item_type, 'id': id}) }}',  $("#insertItemlinkform").serialize() , function(r){
                    $('#buttons_modal').css('display', 'block'); $('#ajaxloader').css('display', 'none');                
                    if (r.errorCode){ alert(r.errorDescription); return; }
                    
                    $('#list_itemlinks').html(r);
                    
                    $('.modal').modal('hide');
                });               
            });

            $('#btn_deleteItemlink').click(function(){
                if (!confirm('¿Realmente desea eliminar el módulo de la sección? OPERACIÓN IRREVERSIBLE')) return;
                $('#buttons_modal').css('display', 'none'); $('#ajaxloader').css('display', 'block');                
                $.post('{{ path('gwadmin_dropitemlink', {'id':id}) }}',  $("#insertItemlinkform").serialize() , function(r){
                    $('#buttons_modal').css('display', 'block'); $('#ajaxloader').css('display', 'none');                
                    if (r.errorCode){ alert(r.errorDescription); return; }
                    
                    $('#list_itemlinks').html(r);
                    
                    $('.modal').modal('hide');
                });               
            });
        });
     </script>
 {% endblock %}
 
 