{% spaceless %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="es"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="es"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="es"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="es"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block metadescription %}{% endblock %}">
        <meta name="keywords" content="{% block metatags %}{% endblock %}">
        <meta name="author" content="Greetik Soluciones SL">

    <include expiration='7d' path='/bundles/**.css'></include>
    <include expiration='7d' path='/bundles/**.js'></include>
    <include expiration='7d' path='/bundles/**.gif'></include>
    <include expiration='7d' path='/bundles/**.jpeg'></include>
    <include expiration='7d' path='/bundles/**.jpg'></include>
    <include expiration='7d' path='/bundles/**.png'></include>

    <style>.no-js body { display: none;  } .js body { display: block; }</style>

    <title>{% block subtitle %}{% endblock %}{% block title %}Anestex - Asociación de Anestesistas de Extremadura{% endblock %}</title>
{% block stylesheets %}{% endblock %}
{% block javascriptshead %}{% endblock %}
{% block otherhead %}{% endblock %}
{% block favicon %}<link rel="icon" type="image/x-icon" href="{{ asset('bundles/publicweb8/img/favicon.ico') }}" />{% endblock %}    

<!--[if lt IE 8]>
<div style=' clear: both; text-align:center; position: relative;'>
 <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
   <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
</a>
</div>
<![endif]-->
<!--[if lt IE 9]>
            <script src="js/html5.js"></script>
            <script src="js/css3-mediaqueries.js"></script>
    <![endif]-->
</head>
<body  class="{% block classbody %}{% endblock %}">
    <div class="wrap-body">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
{% block additionalscripts %}{% endblock %}
<script> document.getElementsByTagName("HTML")[0].className = "js";</script>
</body>  
</html>
{% endspaceless %}
