{% spaceless %}
<!DOCTYPE html>
<html lang="es" class="no-js">
<head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block metadescription %}{% endblock %}">
    <meta name="keywords" content="{% block metatags %}{% endblock %}">
    <meta name="author" content="Greetik Soluciones SL">
    
    <include expiration='7d' path='/bundles/**.css'></include>
    <include expiration='7d' path='/bundles/**.js'></include>
    <include expiration='7d' path='/bundles/**.gif'></include>
    <include expiration='7d' path='/bundles/**.jpeg'></include>
    <include expiration='7d' path='/bundles/**.jpg'></include>
    <include expiration='7d' path='/bundles/**.png'></include>

    <style>.no-js body { display: none;  } .js body { display: block; }</style>
        
    <title>{% block subtitle %}{% endblock %}{% block title %}Ganadería Millán - Malpartida de Cáceres{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% block javascriptshead %}{% endblock %}
    {% block otherhead %}{% endblock %}
    {% block favicon %}<link rel="icon" type="image/x-icon" href="{{ asset('bundles/publicweb7/img/ico/favicon.ico') }}" />{% endblock %}    
    
    </head>
    <body  class="{% block classbody %}{% endblock %}">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block additionalscripts %}{% endblock %}
        <script> document.getElementsByTagName("HTML")[0].className="js"; </script>
    </body>  
</html>
{% endspaceless %}