<!DOCTYPE html>
<!-- 
Template Name: Greetik Soluciones SL - Responsive Admin build with Twitter Bootstrap 3.0
Version: 1.0
Author: Greetik Soluciones SL
Website: http://www.greetik.com/
-->
<!--[if IE 8]> <html lang="es" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="es" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <meta name="MobileOptimized" content="320">           
        
        <title>{% block subtitle %}{% endblock %}{% block title %}GreetikWeb Admin{% endblock %}</title>
        <link href="{{ asset('/bundles/gwadmin/images/logo_app.jpg') }}" rel="apple-touch-icon" />
        <link href="{{ asset('/bundles/gwadmin/images/logo_app.jpg') }}" rel="icon" />
        
        {% block stylesheets %}{% endblock %}
        {% block javascriptshead %}{% endblock %}
        {% block favicon %}<link rel="icon" type="image/x-icon" href="{{ asset('/bundle/beinterface/img/favicon.png') }}" />{% endblock %}
    </head>
    <body  class="page-header-fixed page-sidebar-closed">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block additionalscripts %}{% endblock %}
    </body>
</html>
