<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página Web de Prueba">
    <meta name="author" content="Greetik Soluciones SL">
    <meta name="keywords" content="web, prueba, greetik soluciones sl">
        
        <title>{% block subtitle %}{% endblock %}{% block title %}Greetik Soluciones SL{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascriptshead %}{% endblock %}
        {% block favicon %}<link rel="icon" type="image/x-icon" href="{{ asset('/bundles/publicweb/img/favicon.png') }}" />{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block additionalscripts %}{% endblock %}
    </body>
</html>
