{# spaceless #}
<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="es"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="es"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="es"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="es" class="no-js"> <!--<![endif]-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Greetik Soluciones SL">
    <meta name="keywords" content="Orquesta, música, Extremadura, Banda Sonora">

            <meta name="geo.region" content="ES-EX" />
            <meta name="geo.placename" content="Cáceres" />
            <meta name="geo.position" content="38;-5" />
            <meta name="ICBM" content="38, -5" />

        <include expiration='7d' path='/bundles/**.css'></include>
        <include expiration='7d' path='/bundles/**.js'></include>
        <include expiration='7d' path='/bundles/**.gif'></include>
        <include expiration='7d' path='/bundles/**.jpeg'></include>
        <include expiration='7d' path='/bundles/**.jpg'></include>
        <include expiration='7d' path='/bundles/**.png'></include>

        <style>.no-js body { display: none;  } .js body { display: block; }</style>

        <title>{% block subtitle %}{% endblock %}{% block title %}Extremadura Film Orchestra{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
{% block javascriptshead %}{% endblock %}
{% block otherhead %}{% endblock %}
{% block favicon %}<link rel="icon" type="image/x-icon" href="{{ asset('bundles/publicweb5/images/favicon.ico') }}" />{% endblock %}
<script src="{{ asset('bundles/publicweb5/js/jquery.min.js') }}" type="text/javascript"></script>
</head>
<body  class="page-header-fixed page-sidebar-closed">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block additionalscripts %}{% endblock %}
<script> document.getElementsByTagName("HTML")[0].className = "js";</script>
</body>
</html>
{# endspaceless #}