{# spaceless #}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie no-js" lang="es"> <!--<![endif]-->
    <head>
        <!-- Basic Meta Tags -->
        <meta charset="utf-8">
        <meta name="description" content="Crazyrunner Cáceres - Sal a correr con nosotros en Cáceres. Grupo de corredores o runners amateur.">
        <meta name="keywords" content="running, caceres, crazyrunner, correr, entrenamiento">
        <meta name="author" content="Greetik Soluciones SL">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="geo.region" content="ES-EX" />
        <meta name="geo.placename" content="Cáceres" />
        <meta name="geo.position" content="39;-6" />
        <meta name="ICBM" content="39, -6" />

    <include expiration='7d' path='/bundles/**.css'></include>
    <include expiration='7d' path='/bundles/**.js'></include>
    <include expiration='7d' path='/bundles/**.gif'></include>
    <include expiration='7d' path='/bundles/**.jpeg'></include>
    <include expiration='7d' path='/bundles/**.jpg'></include>
    <include expiration='7d' path='/bundles/**.png'></include>

    <style>.no-js body { display: none;  } .js body { display: block; }</style>


    <!--[if (gte IE 9)|!(IE)]>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<![endif]--> 

    <style>.no-js body { display: none;  } .js body { display: block; }</style>

    <title>{% block subtitle %}{% endblock %}{% block title %}Crazyrunner - Cáceres{% endblock %}</title>
{% block stylesheets %}{% endblock %}
{% block javascriptshead %}{% endblock %}
{% block otherhead %}{% endblock %}
{% block favicon %}<link rel="icon" type="image/x-icon" href="{{ asset('bundles/publicweb4/img/favicon.png') }}" />{% endblock %}    
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block additionalscripts %}{% endblock %}
<script> document.getElementsByTagName("HTML")[0].className = "js";</script>
</body>  
</html>
{# endspaceless #}