{% spaceless %}
    <!DOCTYPE html>
    <html lang="es" class="no-js">
        <head>
            <meta charset="utf-8">

            <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1.0">
            <meta name="description" content="{% block metadescription %}{% endblock %}">
            <meta name="keywords" content="{% block metatags %}{% endblock %}">
            <meta name="author" content="Greetik Soluciones SL">

            <meta name="geo.region" content="ES-EX" />
            <meta name="geo.placename" content="Cáceres" />
            <meta name="geo.position" content="39;-6" />
            <meta name="ICBM" content="39, -6" />
			
        <meta name="verify-code" content="85dd1aa0b565a99ff43e40b3689c1b6a12350658">

        <include expiration='7d' path='/bundles/**.css'></include>
        <include expiration='7d' path='/bundles/**.js'></include>
        <include expiration='7d' path='/bundles/**.gif'></include>
        <include expiration='7d' path='/bundles/**.jpeg'></include>
        <include expiration='7d' path='/bundles/**.jpg'></include>
        <include expiration='7d' path='/bundles/**.png'></include>

        <style>.no-js body { display: none;  } .js body { display: block; }</style>
        <!--<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>-->
        
        <title>{% block subtitle %}{% endblock %}{% block title %}Greetik Soluciones - Consultoría TIC Extremadura{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
{% block javascriptshead %}{% endblock %}
{% block otherhead %}{% endblock %}
{% block favicon %}<link rel="icon" type="image/x-icon" href="{{ asset('bundles/publicweb6/images/favicon.ico') }}" />{% endblock %}    
<!-- <script async src="https://cdn.ampproject.org/v0.js"></script> -->
</head>
<body  class="{% block classbody %}{% endblock %}">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block additionalscripts %}{% endblock %}
<script> document.getElementsByTagName("HTML")[0].className = "js";</script>
</body>  
</html>
{% endspaceless %}