{# spaceless #}
    <!--A Design by Greetik Soluciones SL
    Author: Greetik Soluciones SL
    Author URL: http://greetik.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
    -->
    <!DOCTYPE HTML>
    <html lang="es" class="no-js">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="Crazyrunner es un club deportivo de Cáceres, si eres corredor popular este es tu sitio">
            <meta name="author" content="Greetik Soluciones SL">
            <meta name="keywords" content="crazyrunner, carrera, running, runners, greetik soluciones sl">

            <meta name="geo.region" content="ES-EX" />
            <meta name="geo.placename" content="Cáceres" />
            <meta name="geo.position" content="39;-6" />
            <meta name="ICBM" content="39, -6" />

        <include expiration='7d' path='/bundles/**.css'></include>
        <include expiration='7d' path='/bundles/**.js'></include>
        <include expiration='7d' path='/bundles/**.gif'></include>
        <include expiration='7d' path='/bundles/**.jpeg'></include>
        <include expiration='7d' path='/bundles/**.jpg'></include>
        <include expiration='7d' path='/bundles/**.png'></include>

        <style>.no-js body { display: none;  } .js body { display: block; }</style>

        <title>{% block subtitle %}{% endblock %}{% block title %}Crazyrunner Cáceres{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
{% block javascriptshead %}{% endblock %}
{% block otherhead %}{% endblock %}
{% block favicon %}<link rel="icon" type="image/x-icon" href="{{ asset('bundles/publicweb2/images/favicon.png') }}" />{% endblock %}
</head>
<body  class="page-header-fixed page-sidebar-closed">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block additionalscripts %}{% endblock %}
<script> document.getElementsByTagName("HTML")[0].className = "js";</script>
</body>
</html>
{# endspaceless #}
