{% spaceless %}
<!DOCTYPE html>
<html class="no-js" lang="es"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block metadescription %}{% endblock %}">
        <meta name="keywords" content="{% block metatags %}{% endblock %}">
        <meta name="author" content="Greetik Soluciones SL">

    <include expiration='7d' path='/bundles/**.css'></include>
    <include expiration='7d' path='/bundles/**.js'></include>
    <include expiration='7d' path='/bundles/**.gif'></include>
    <include expiration='7d' path='/bundles/**.jpeg'></include>
    <include expiration='7d' path='/bundles/**.jpg'></include>
    <include expiration='7d' path='/bundles/**.png'></include>

    <style>.no-js body { display: none;  } .js body { display: block; }</style>

    <title>{% block subtitle %}{% endblock %}{% block title %}La Morata - Ganadería en Alconchel (Badajoz){% endblock %}</title>
{% block stylesheets %}{% endblock %}
{% block javascriptshead %}{% endblock %}
{% block otherhead %}{% endblock %}
{% block favicon %}<link rel="icon" type="image/x-icon" href="{{ asset('bundles/publicweb10/images/favicon.png') }}" />{% endblock %}    

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--start-smoth-scrolling-->
</head>
<body  class="{% block classbody %}{% endblock %}">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block additionalscripts %}{% endblock %}
<script> document.getElementsByTagName("HTML")[0].className = "js";</script>
</body>  
</html>
{% endspaceless %}
