{#
    Pacolmg
    Greetik Soluciones SL
    view the exercises table
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}
{% block maincontent %}
{%
    set configTable = {
                                'id': 'systemuser', 
                                'title': 'Usuarios', 
                                'icon': 'user',
                                'noOptions':true,
                                'insertdata': {'url': path('systemuser_insertsystemuser')},
                                'viewdata': {'url': 'systemuser_viewsystemuser'},
                                'fields': {'username': {'title':'Usuario', 'link_view': true}, 'name': {'title': 'Nombre'}, 'surname': {'title': 'Apellidos'}, 'email': {'title': 'Email'}} 
                               }
                              
%}

{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}


{% endblock %}