{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Nuevo Usuario - {% endblock %}
{% set titlecontent = 'Nuevo Usuario'%}
{% set subtitlecontent = 'Complete los campos para añadir un nuevo usuario al sistema' %}

{% set issuperadmin = is_granted('ROLE_SUPERADMIN') %}

{% if issuperadmin %}
     {% set pathaction = path('systemuser_insertadmin', {'id':id_project}) %}{% set pathcancel = path('systemuser_viewproject', {'id':id_project}) %}
     {% set breadcrumb = [{'title': 'Projects', 'link': path('systemuser_listprojects'), 'icon': 'briefcase'}, {'title': 'Nuevo Administrador', 'link': path('systemuser_insertadmin', {'id': id_project}), 'icon': 'user'}] %}
{% else %}
         {% set pathaction = path('systemuser_insertsystemuser') %}{% set pathcancel = path('systemuser_homepage') %}
         {% set breadcrumb = [{'title': 'Usuarios', 'link': path('systemuser_listsystemusers'), 'icon': 'user'}, {'title': 'Nuevo', 'link': path('systemuser_insertsystemuser'), 'icon': 'user'}] %}
{% endif %}
 {%
    set configForm = {
        'id' : 'insertsystemuser',
        'pathaction': pathaction,
        'pathcancel': pathcancel,
        'title': 'Usuario',
        'icon': 'user'
    }
 %}

{% block maincontent %}
    {% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
        {% block formcontent %}
                        {% if form_errors(new_form) %}
                        <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                       {% endif %}

                       {% set configField = { 'label': 'Nombre', 'field': 'name'} %}
                       {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                       {% set configField = { 'label': 'Apellidos', 'field': 'surname' } %}
                       {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                       {% set configField = { 'label': 'Nombre de usuario', 'field': 'username' } %}
                       {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                       {% set configField = { 'label': 'Contraseña', 'field': 'plainPassword', 'field2':'first' } %}
                       {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                       {% set configField = { 'label': 'Repita la Contraseña', 'field': 'plainPassword', 'field2':'second'} %}
                       {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
                       
                       {% set configField = { 'label': 'Email', 'field': 'email' } %}
                       {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
                       
                       {% set configField = { 'label': 'Observaciones', 'field': 'comments' } %}
                       {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
                       
                       {% if issuperadmin != true %}
                            {% set configField = { 'label': 'Tipo', 'field': 'roles', 'classesinput':'select2' } %}
                            {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
                       {% endif %}
                       
                       {# if issuperadmin==false %}
                        {% set configField = { 'label': 'Tipo', 'field': 'usergroup', 'classesinput':'select2' } %}
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
                       {% endif #}

                       {{ form_widget(new_form._token) }}
                       

        {% endblock %}                    
    {% endembed %}
    
  
{% endblock %}         

{% block additionalscripts %}
    {{ parent() }}
    {% set idfield = 'registration_form_comments' %}
    {% include 'BEInterfaceBundle:_Scripts:texteditor.html.twig' %}    

    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}    
{% endblock %}