{#
    Pacolmg
    Greetik Soluciones SL
    view the detail of an systemuser
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% set issuperadmin = is_granted('ROLE_SUPERADMIN') %}

{% set valueadmin = false %}
{% for role in item.roles %}
      {% if role == 'ROLE_ADMIN' %}{% set valueadmin = true %}{% endif %}
{% endfor %}

{% set isme = (app.user is defined and app.user is not null and item.username == app.user.username) %}
{% set id_project = item.project %}

{% block subtitle %}{{ item.username }} - Usuario - {% endblock %}
{% set titlecontent = 'Usuario'%}
{% set subtitlecontent = 'Edite los datos de '~item.username ~' desde aquí' %}

{% if issuperadmin %}
     {% set pathaction = path('systemuser_modifyadmin', {'id': item.id}) %}{% set pathcancel = path('systemuser_viewproject', {'id':id_project}) %}
     {% set breadcrumb = [{'title': 'Projects', 'link': path('systemuser_listprojects'), 'icon': 'briefcase'}, {'title': item.username, 'link': path('systemuser_viewsystemuser', {'id':  item.id}), 'icon': 'user'}] %}
{% else %}
         {% set pathaction = path('systemuser_modifysystemuser', {'id': item.id}) %}{% set pathcancel = path('systemuser_listsystemusers') %}
         {% set breadcrumb = [{'title': 'Usuarios', 'link': path('systemuser_listsystemusers'), 'icon': 'user'}, {'title': item.username, 'link': path('systemuser_viewsystemuser', {'id':  item.id}), 'icon': 'user'}] %}
{% endif %}



{% block maincontent %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row profile">
       <div class="col-md-12">
          <!--BEGIN TABS-->
          <div class="tabbable tabbable-custom tabbable-full-width">
             <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1_1" data-toggle="tab">Usuario</a></li>
                <li><a href="#tab_1_3" data-toggle="tab">Editar</a></li>
             </ul>
             <div class="tab-content">
                <div class="tab-pane active" id="tab_1_1">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="row">
                            <div class="col-md-12 profile-info">
                                {% set break=0 %}
                                {% for field in new_form %}
                                                {% if field.vars.errors|length and break==0 %}{% set break=1 %}<div class="alert alert-danger">Compruebe los errores del formulario</div>{% endif %}
                                 {% endfor %}                               
                                {% for field in new_form_pass %}
                                                {% if field.vars.errors|length and break==0 %}{% set break=1 %}<div class="alert alert-danger">Compruebe los errores del formulario</div>{% endif %}
                                 {% endfor %}                               
                                {% if form_errors(new_form) %}
                                <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                               {% endif %} 
                                {% if form_errors(new_form_pass) %}
                                    <div class="alert alert-danger">{{ form_errors(new_form_pass) }}</div>
                               {% endif %}                               
                               
                               <h1>{{ item.name }} {{ item.surname}} ({{ item.username }})
                                   {% if issuperadmin==false %}
                                    <div class="btn-group">
                                            <a target="_blank" href="{{ path('systemuser_userprint', {'id': item.id }) }}" class="btn btn red">Imprimir <i class="icon-print"></i></a>
                                            <div class="clearfix"></div>
                                    </div>
                                    {% endif %}
                                    <div class="clearfix"></div>
                                </h1>                                            
                               {{ item.comments | raw }}
                               <p>&nbsp;</p>
                               <ul class="list-inline">
                                  <li><i class="icon-calendar"></i> Añadido el {{ item.createdat|date("d/m/Y") }}</li>
                               </ul>
                            </div>
                            <!--end col-md-12-->
                            {# if issuperadmin == false %}
                                <div class="col-md-4">
                                   <div class="portlet sale-summary">
                                      <div class="portlet-title">
                                         <div class="caption">Equipos</div>
                                      </div>
                                      <div class="portlet-body">
                                         <ul class="list-unstyled" id="list_gameteams">
                                            {% if item.systemuserteams is defined %}
                                                {% for team in item.systemuserteams %}
                                                <li>
                                                    <a href="{{ path('systemuser_viewteam', {'id': team.team.id, 'season_id':team.season.id }) }}"><i class="icon-dribbble"></i> <span class="sale-info">{{ team.usersubgroup.name }} - {{ team.team.name }} ({{ team.season.name }})</span></a>
                                                </li>   
                                                {% endfor%}
                                           {% endif %}
                                         </ul>
                                      </div>
                                   </div>
                                </div>
                            {% endif #}
                            <div class="clearfix"></div>
                            {% if issuperadmin == false and data is defined %}
                                <div class="col-md-12">
                                {%
                                    set configTable = {
                                                                'id': 'systemuser_trainings', 
                                                                'title': 'Entrenamientos y Partidos', 
                                                                'icon': 'calendar',
                                                                'noOptions': true,
                                                                'fields': {'trainingdate': {'title': 'Día', 'link_view': {'link_url': 'systemuser_viewtraining', 'link_id':'training_id' }}, 'comments': {'title': 'Observaciones'}, 'incidence_name': {'title': 'Incidencia', 'filter':true}, 'presence_name': {'title': 'Asistencia', 'filter':true}, 'score': {'title': 'Puntuación', 'filter':true}, 'season_name': {'title': 'Temporada', 'filter':true}} 
                                                               }

                                %}

                                {% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}
                                </div>
                               {% endif %}
                         </div>
                         <!--end row-->
                      </div>
                   </div>
                </div>
                <!--tab_1_2-->
                <div class="tab-pane" id="tab_1_3">
                   <div class="row profile-account">
                      <div class="col-md-3">
                         <ul class="ver-inline-menu tabbable margin-bottom-10">
                            <li class="active">
                               <a data-toggle="tab" href="#tab_1-1">
                               <i class="icon-cog"></i> 
                               Datos
                               </a> 
                               <span class="after"></span>                                    
                            </li>
                            {% if isme %}
                                <li class="">
                                   <a data-toggle="tab" href="#tab_1-2">
                                   <i class="icon-key"></i> 
                                   Contraseña
                                   </a> 
                                   <span class="after"></span>                                    
                                </li>
                            {% endif %}
                         </ul>
                      </div>
                      <div class="col-md-9">
                         <div class="tab-content">
                            <div id="tab_1-1" class="tab-pane active">
                            {%
                                set configForm = {
                                    'id' : 'modifysystemuser',
                                    'pathaction': pathaction,
                                    'pathcancel': pathcancel
                                }
                             %}

                            
                                {% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
                                    {% block formcontent %}
                                                    {% if form_errors(new_form) %}
                                                    <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                                                   {% endif %}

                                                    {% set configField = { 'label': 'Nombre', 'field': 'name'} %}
                                                   {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                   {% set configField = { 'label': 'Apellidos', 'field': 'surname' } %}
                                                   {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                   {% set configField = { 'label': 'Nombre de usuario', 'field': 'username' } %}
                                                   {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                   {% set configField = { 'label': 'Email', 'field': 'email' } %}
                                                   {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                   {% set configField = { 'label': 'Observaciones', 'field': 'comments' } %}
                                                   {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                   {% set configField = { 'label': 'Tipo', 'field': 'roles', 'classesinput':'select2', 'value':((valueadmin)?'ROLE_ADMIN':'ROLE_USER')  } %}
                                                   {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                    {# if issuperadmin==false %}
                                                        {% set configField = { 'label': 'Tipo', 'field': 'usergroup', 'classesinput':'select2' } %}
                                                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
                                                    {% endif #}

                                                   {{ form_widget(new_form._token) }}

                                    {% endblock %}                    
                                {% endembed %}

                            </div>
                            {% if isme %}
                                <div id="tab_1-2" class="tab-pane">
                                {%
                                    set configForm = {
                                        'id' : 'modifysystemuserpassword',
                                        'pathaction': path('systemuser_modifysystemuserpassword', { 'id': item.id }),
                                        'pathcancel': path('systemuser_listsystemusers')
                                    }
                                 %}


                                    {% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
                                        {% block formcontent %}
                                                        {% if form_errors(new_form_pass) %}
                                                        <div class="alert alert-danger">{{ form_errors(new_form_pass) }}</div>
                                                       {% endif %}
                                                         {% set new_form = new_form_pass %}

                                                       {% set configField = { 'label': 'Contraseña Actual', 'field': 'current_password'} %}
                                                       {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                       {% set configField = { 'label': 'Nueva Contraseña', 'field': 'plainPassword', 'field2':'first' } %}
                                                       {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                       {% set configField = { 'label': 'Repita la Contraseña', 'field': 'plainPassword', 'field2':'second'} %}
                                                       {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}


                                                       {{ form_widget(new_form_pass._token) }}

                                        {% endblock %}                    
                                    {% endembed %}

                                </div>
                            {% endif %}
                         </div>
                      </div>
                      <!--end col-md-9-->                                   
                   </div>
                </div>
                <!--end tab-pane-->
             </div>
          </div>
          <!--END TABS-->
       </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block additionalscripts %}
    {{ parent() }}
    {% set idfield = 'systemuser_comments' %}
    {% include 'BEInterfaceBundle:_Scripts:texteditor.html.twig' %}    
    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}  
{% endblock %}    