{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Nuevo Marcador en {{ idproject | getModulename }} - {% endblock %}
{% set titlecontent = 'Nuevo Gpx en ' ~ idproject | getModulename %}
{% set subtitlecontent = 'Rellene los campos para insertar un gpx '%}
{% set breadcrumb = [{'title': idproject | getModulename, 'link': path('gmap_viewmap', {'idproject':idproject}), 'icon': 'map-marker'}, {'title': 'Nuevo', 'link': path('gmap_insertgpx', {'idproject':idproject}), 'icon': 'map-marker'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

 {%
    set configForm = {
        'id' : 'insertgpx',
        'pathaction': path('gmap_insertgpx', {'idproject':idproject}),
        'pathcancel': path('gmap_viewmap', {'idproject':idproject}),
        'title': 'Gpx',
        'icon': 'map-marker'
    }
 %}

{% block maincontent %}
    {% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
        {% block formcontent %}
                        {% if form_errors(new_form) %}
                        <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                       {% endif %}

                        {% set configField = { 'label': 'Título', 'field': 'title'} %}  
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                        {% set configField = { 'label': 'Inicio', 'field': 'start' } %}
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                        {% set configField = { 'label': 'Fin', 'field': 'end' }  %}
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                        {% set configField = { 'label': 'Nombre del fichero', 'field': 'filename' }  %}
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                       
                       {{ form_widget(new_form._token) }}

        {% endblock %}                    
    {% endembed %}
    
  
{% endblock %}         

