{#
    Pacolmg
    Greetik Soluciones SL
    view the formfields table
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}{{ idproject | getModulename }} - {% endblock %}
{% set titlecontent = idproject | getModulename  %}
{% set subtitlecontent = 'Seleccione uno del listado de formfields para ver su detalle' %}
{% if is_catalog != '' %}
    {% set breadcrumb = [{'title': idproject | getModulename , 'link': path('catalog_viewcatalog', {'idproject': is_catalog}), 'icon': 'book'}, {'title': 'Campos' , 'link': path('contactform_listformfields', {'idproject': idproject}), 'icon': 'tasks'}] %}
{% else%}
    {% set breadcrumb = [{'title': idproject | getModulename , 'link': path('contactform_listformfields', {'idproject': idproject}), 'icon': 'tasks'}] %}
{% endif %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
    {% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}    
    {%
    set configTable = {
                                'id': 'formfield', 
                                'title': 'Campos', 
                                'icon':'tasks',
                                'noOptions':true,
                                'viewdata': {'url': 'contactform_viewformfield'},
                                'fields': {'numorder': {'title': 'Orden'}, 'name': {'title': 'Nombre', 'link_view': true}} 
                               }
                              
    %}

{% if insertAllow %}{% set configTable = configTable|merge( {'insertdata': {'url': path('contactform_insertformfield', {'idproject': idproject})}}) %}{% endif %}

{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}

{% if is_catalog=='' %}
    {%
       set configForm = {
           'id' : 'sendtoform',
           'pathaction': path('catalog_changesendto', {'idproject':idproject}),
           'pathcancel': path('contactform_listformfields', {'idproject':idproject}),
           'title': 'Email',
           'icon': 'tasks'
       }
    %}
    {% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
        {% block formcontent %}
            {% if form_errors(new_form) %}
                <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
            {% endif %}

            {% set configField = { 'label': 'Email', 'field': 'sendto'} %}  
            {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

            {{ form_widget(new_form._token) }}

        {% endblock %}
    {% endembed %}
{% endif %}
{% endblock %}