{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Nuevo Campo en {{ idproject | getModulename }} - {% endblock %}
{% set titlecontent = 'Nuevo Formfield en ' ~ idproject | getModulename %}
{% set subtitlecontent = 'Rellene los campos para insertar un nuevo campo '%}
{% if is_catalog != '' %}
    {% set breadcrumb = [{'title': idproject | getModulename , 'link': path('catalog_viewcatalog', {'idproject': is_catalog}), 'icon': 'book'}, {'title': 'Campos' , 'link': path('contactform_listformfields', {'idproject': idproject}), 'icon': 'tasks'}, {'title': 'Nuevo', 'link': path('contactform_insertformfield', {'idproject':idproject}), 'icon': 'tasks'}] %}
{% else%}
    {% set breadcrumb = [{'title': idproject | getModulename , 'link': path('contactform_listformfields', {'idproject': idproject}), 'icon': 'tasks'}, {'title': 'Nuevo', 'link': path('contactform_insertformfield', {'idproject':idproject}), 'icon': 'tasks'}] %}
{% endif %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{%
    set configForm = {
        'id' : 'insertformfield',
        'pathaction': path('contactform_insertformfield', {'idproject':idproject}),
        'pathcancel': path('contactform_listformfields', {'idproject':idproject}),
        'title': 'Campo',
        'icon': 'tasks'
    }
%}

{% block maincontent %}
    {% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
        {% block formcontent %}
            {% if form_errors(new_form) %}
                <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
            {% endif %}

            {% set configField = { 'label': 'Nombre', 'field': 'name'} %}  
            {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}


            {% set configField = { 'label': 'Tipo', 'field': 'formfieldtype', 'classesinput':'select2' }  %}
            {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}


            {% set configField = { 'label': 'Longitud máxima', 'field': 'maxlong' } %}
            {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

            {% set configField = { 'label': 'Longitud mínima', 'field': 'minlong' } %}
            {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

            {% set configField = { 'label': 'Deshabilitado', 'field': 'disab' } %}
            {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

            {% set configField = { 'label': '¿Campo obligatorio?', 'field': 'oblig' } %}
            {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}


            {{ form_widget(new_form._token) }}

        {% endblock %}                    
    {% endembed %}


{% endblock %}         

{% block additionalscripts %}
    {{ parent() }}
    {% set idfield = 'Formfield_body' %}
    {% include 'BEInterfaceBundle:_Scripts:texteditor.html.twig' %}    

    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}    

{% endblock %}