{#
    Pacolmg
    Greetik Soluciones SL
    view the detail of an formfield
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}{{ item.name }} - Campo - {% endblock %}
{% set titlecontent = 'Campo'%}
{% set subtitlecontent = 'Edite los datos de '~item.name ~' desde aquí' %}
{% if is_catalog != '' %}
    {% set breadcrumb = [{'title': item.project | getModulename , 'link': path('catalog_viewcatalog', {'idproject': is_catalog}), 'icon': 'book'}, {'title': 'Campos' , 'link': path('contactform_listformfields', {'idproject': item.project}), 'icon': 'tasks'}, {'title': item.name, 'link': path('contactform_viewformfield', {'id':  item.id}), 'icon': 'tasks'}] %}
{% else%}
    {% set breadcrumb = [{'title': item.project | getModulename , 'link': path('contactform_listformfields', {'idproject': item.project}), 'icon': 'tasks'}, {'title': item.name, 'link': path('contactform_viewformfield', {'id':  item.id}), 'icon': 'tasks'}] %}
{% endif %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Campo</a></li>
                    {% if modifyAllow == true %}<li><a href="#tab_1_3" data-toggle="tab">Editar</a></li>{% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-9 profile-info">

                                        {% set break=0 %}
                                        {% for field in new_form %}
                                            {% if field.vars.errors|length and break==0 %}{% set break=1 %}<div class="alert alert-danger">Compruebe los errores del formulario</div>{% endif %}
                                        {% endfor %}
                                        {% if form_errors(new_form) %}<div class="alert alert-danger">{{ form_errors(new_form) }}</div>{% endif %}

                                        <h1>{{ item.name }}
                                            <div class="btn-group">
                                                {%set pathdelete= path('contactform_deleteformfield', {'id': item.id })%}
                                                {% include('GwadminBundle:Delete:deleteAny.html.twig') %}
                                                   <!-- <a href="{#{ path('contactform_deleteformfield', {'id': item.id }) }#}" class="btn btn red">Eliminar <i class="icon-trash"></i></a>-->
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </h1>                                   
                                        {{ item.comments | raw }}
                                        <p>&nbsp;</p>
                                        <ul class="list-inline">
                                            <li><i class="icon-tasks"></i> {{ item.formfieldtype.name }}</li>
                                        </ul>
                                        {% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}    
                                        
                                    </div>
                                    <!--end col-md-9-->

                                    <div class="col-md-3">
                                        <div class="portlet sale-summary">
                                            <div class="portlet-title">
                                                <div class="caption">Opciones</div>
                                            </div>
                                            <div class="portlet-body">
                                                <ul class="list-unstyled" id="list_contactformoptions">
                                                    {% include 'ContactformBundle:Options:index.html.twig' %}
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <!--end col-md-3-->
                                </div>
                                <!--end row-->

                            </div>
                        </div>
                    </div>

                    {% if modifyAllow == true %}
                        <!--tab_1_2-->
                        <div class="tab-pane" id="tab_1_3">
                            <div class="row profile-account">
                                <div class="col-md-3">
                                    <ul class="ver-inline-menu tabbable margin-bottom-10">
                                        <li class="active">
                                            <a data-toggle="tab" href="#tab_1-1">
                                                <i class="icon-cog"></i> 
                                                Datos
                                            </a> 
                                            <span class="after"></span>                                    
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-9">
                                    <div class="tab-content">
                                        <div id="tab_1-1" class="tab-pane active">
                                            {%
                                set configForm = {
                                    'id' : 'modifyformfield',
                                    'pathaction': path('contactform_modifyformfield', { 'id': item.id }),
                                    'pathcancel': path('contactform_listformfields', {'idproject':item.project})
                                }
                                            %}


                                            {% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
                                                {% block formcontent %}
                                                    {% if form_errors(new_form) %}
                                                        <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                                                    {% endif %}

                                                    {% set configField = { 'label': 'Nombre', 'field': 'name'} %}  
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}


                                                    {% set configField = { 'label': 'Tipo', 'field': 'formfieldtype', 'classesinput':'select2' }  %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
                                                    
                                                    {% set configField = { 'label': 'Orden', 'field': 'numorder' } %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                    {% set configField = { 'label': 'Longitud mínima', 'field': 'minlong' } %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
                                                    
                                                    {% set configField = { 'label': 'Longitud máxima', 'field': 'maxlong' } %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                    {% set configField = { 'label': 'Deshabilitado', 'field': 'disab' } %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                    {% set configField = { 'label': '¿Campo obligatorio?', 'field': 'oblig' } %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
                                                    

                                                    {{ form_widget(new_form._token) }}

                                                {% endblock %}                    
                                            {% endembed %}

                                        </div>
                                    </div>
                                </div>
                                <!--end col-md-9-->                                   
                            </div>
                        </div>
                    {% endif %}
                    <!--end tab-pane-->
                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block additionalscripts %}
    {{ parent() }}
    {% set idfield = 'Formfield_body' %}
    {% include 'BEInterfaceBundle:_Scripts:texteditor.html.twig' %}    

    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}    


{% endblock %}    