{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" id="login">
    <div>
        {% if invalid_username is defined %}
           <div class="alert alert-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</div>
        {% endif %}
        <div class="form-group">
            <label for="username">{{ 'resetting.request.username'|trans }}</label>
            <div class="input-icon">
                <i class="icon-user"></i>  
                <input type="text" id="username" name="username" class="form-control placeholder-no-fix" required="required" />
             </div>
         </div>
    </div>
    <div class="form-actions">
        <input type="submit"  class="btn blue pull-right" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>
