{#
    Pacolmg
    Greetik Soluciones SL
    view the posts table
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}{{ idproject | getModulename }} - {% endblock %}
{% set titlecontent = idproject | getModulename  %}
{% set subtitlecontent = 'Seleccione uno del listado de posts para ver su detalle' %}
{% set breadcrumb = [{'title': idproject | getModulename , 'link': path('blog_listposts', {'idproject': idproject}), 'icon': 'file-text'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
{%
    set configTable = {
                                'id': 'post', 
                                'title': 'Posts', 
                                'icon':'file-text',
                                'aaSorting': "[[ 1, 'desc' ]]",
                                'noOptions':true,
                                'viewdata': {'url': 'blog_viewpost'},
                                'fields': {'title': {'title': 'Título', 'link_view': true}, 'publishdate': {'title': 'Publicación'}} 
                               }
                              
%}

{% if insertAllow %}{% set configTable = configTable|merge( {'insertdata': {'url': path('blog_insertpost', {'idproject': idproject})}}) %}{% endif %}

{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}


{% endblock %}