{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Nuevo Post en {{ idproject | getModulename }} - {% endblock %}
{% set titlecontent = 'Nuevo Post en ' ~ idproject | getModulename %}
{% set subtitlecontent = 'Rellene los campos para insertar un post '%}
{% set breadcrumb = [{'title': idproject | getModulename, 'link': path('blog_listposts', {'idproject':idproject}), 'icon': 'file-text'}, {'title': 'Nuevo', 'link': path('blog_insertpost', {'idproject':idproject}), 'icon': 'file-text'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{%
    set configForm = {
        'id' : 'insertpost',
        'pathaction': path('blog_insertpost', {'idproject':idproject}),
        'pathcancel': path('blog_listposts', {'idproject':idproject}),
        'title': 'Post',
        'icon': 'file-text'
    }
%}

{% block maincontent %}
    {% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
        {% block formcontent %}
            {% include('BEInterfaceBundle:_Default:errorfromflash.html.twig') %}           

            {% include('BlogBundle:Post:forminsert.html.twig') %}                       
            {{ form_widget(new_form._token) }}

        {% endblock %}                    
    {% endembed %}


{% endblock %}         

{% block additionalscripts %}
    {{ parent() }}
    {% set idfield = 'post_body' %}
    {% include 'BEInterfaceBundle:_Scripts:texteditor.html.twig' %}    

    {% set fieldstodatetime = '.datetimepicker' %}
    {% include 'BEInterfaceBundle:_Scripts:datetime.html.twig' %}    

    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}    

    <script>
        $('body').ready(function () {
            $("#post_tags").addClass('select2');
            $("#post_tags").select2({
                tags: {{ tags | json_encode | raw }}
            });
        });
    </script>

{% endblock %}