{# empty Twig template #}
<div class="text-center">
            <ul class="pagination">
              <li>
                  {%set paginatorparameters= paginatorparameters | merge({'page':1})%}
                <a href="{{path(pathpaginator,paginatorparameters)}}">
                  «
                </a>
              </li>
              {%if section.currentpage > 1%}
              <li >
                {%set paginatorparameters= paginatorparameters | merge({'page':section.currentpage-1})%}
                <a href="{{path(pathpaginator,paginatorparameters)}}">
                  {{section.currentpage-1}}
                </a>
              </li>
              {%endif%}
              <li class="active">
                {%set paginatorparameters= paginatorparameters | merge({'page':section.currentpage})%}
                <a href="{{path(pathpaginator,paginatorparameters)}}">
                  {{section.currentpage}}
                </a>
              </li>
              {%if section.currentpage < section.numpages%}
              <li>
                {%set paginatorparameters= paginatorparameters | merge({'page':section.currentpage+1})%}
                <a href="{{path(pathpaginator,paginatorparameters)}}">
                  {{section.currentpage+1}}
                </a>
              </li>
              {%endif%}
              <li>
                {%set paginatorparameters= paginatorparameters | merge({'page':section.numpages})%}
                <a href="{{path(pathpaginator,paginatorparameters)}}">
                  »
                </a>
              </li>
              <div style="clear:both;"></div>
            </ul>
          </div>