{#
    Pacolmg
    Greetik Soluciones SL
    view the detail of an post
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}{{ item.title }} - Post - {% endblock %}
{% set titlecontent = 'Post'%}
{% set subtitlecontent = 'Edite los datos de '~item.title ~' desde aquí' %}
{% set breadcrumb = [{'title':item.project | getModulename, 'link': path('blog_listposts', {'idproject':item.project}), 'icon': 'file-text'}, {'title': item.title, 'link': path('blog_viewpost', {'id':  item.id}), 'icon': 'file-text'}] %}

{% block maincontent %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Post</a></li>
                    {% if modifyAllow == true %}<li><a href="#tab_1_3" data-toggle="tab">Editar</a></li>{% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-9 profile-info">

                                        {% set break=0 %}
                                        {% for field in new_form %}
                                            {% if field.vars.errors|length and break==0 %}{% set break=1 %}<div class="alert alert-danger">Compruebe los errores del formulario</div>{% endif %}
                                        {% endfor %}
                                        {% if form_errors(new_form) %}<div class="alert alert-danger">{{ form_errors(new_form) }}</div>{% endif %}
                                        {% include('BEInterfaceBundle:_Default:errorfromflash.html.twig') %}
                                        <h1>{{ item.title }}
                                            <div class="btn-group">
                                                {%set pathdelete= path('blog_deletepost', {'id': item.id })%}
                                                {% include('GwadminBundle:Delete:deleteAny.html.twig') %}
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </h1>                                   
                                        {{ item.body | raw }}
                                        <p>&nbsp;</p>
                                        <ul class="list-inline">
                                            <li><i class="icon-calendar"></i> {{ item.publishdate | date("d/m/Y H:i") }}</li>
                                            <li><i class="icon-building"></i> {{ item.project | getModulename  }}</li>
                                            <li><i class="icon-time"></i> {{ item.enddate  | date("d/m/Y H:i")  }}</li>
                                            <li><i class="icon-user"></i> Añadido el {{ item.createdat|date("d/m/Y") }} por {{ item.user | getSystemusername }}</li>

                                        </ul>
                                        <ul class="list-inline">
                                            {%if item.extra != '' and item.extra is not null%}  <li><i class="icon-asterisk"></i> Extra: {{item.extra}}</li> {%endif %}
                                            {%if item.tags | length > 0 %}<li><i class="icon-tags"></i> Tags: {{item.tags | join(', ')}}</li>{%endif%}
                                        </ul>
                                    </div>
                                    <!--end col-md-9-->

                                    <div class="col-md-3">
                                        <!-- Links --->
                                        <div class="portlet-title">
                                            <div class="caption">Enlaces</div>
                                        </div>
                                        <div class="portlet-body">
                                            <ul class="list-unstyled" id="list_itemlinks">
                                                {% set _itemtype = 'post' %}
                                                {% set _itemid = item.id %}
                                                {% include('GwadminBundle:Itemlink:index.html.twig') %}
                                            </ul>
                                        </div>    
                                    </div>

                                </div>
                                <!--end row-->
                                <div class="tabbable tabbable-custom tabbable-custom-profile">
                                    <ul class="nav nav-tabs">
                                        <li {% if (option is defined and (option=='insertImage'  or  option=='' )) %}{% set tabactive="img" %}class="active"{% endif %}><a href="#tab_1_22" data-toggle="tab">Imágenes</a></li>
                                        <li {% if (option is defined and (option=='insertDoc' or  option=='tabdocs' )) or option is not defined %}{% set tabactive="doc" %}class="active"{% endif %}><a href="#tab_1_33" data-toggle="tab">Documentos</a></li>
                                        <li {% if (option is defined and (option=='insertYT' or  option=='tabvideos' )) or option is not defined %}{% set tabactive="yt" %}class="active"{% endif %}><a href="#tab_1_11" data-toggle="tab">Vídeos</a></li>
                                    </ul>
                                    <div class="tab-content">

                                        <div class="tab-pane {% if tabactive=='img'%}active{% endif %}" id="tab_1_22">
                                            {%
                                        set configFiles = {
                                            'id': item.id,
                                            'icon': 'file-text',
                                            'title': ('Imágenes de ' ~ item.title ),
                                            'modifyAllow': modifyAllow,
                                            'type': 'post',
                                            'filetype':'image'
                                        }
                                            %}  
                                            {% include 'DataimageBundle:Dataimage:view.html.twig' %}
                                        </div>                               
                                        <div class="tab-pane {% if tabactive=='doc'%}active{% endif %}" id="tab_1_33">
                                            {%
                                        set configFiles = {
                                            'id': item.id,
                                            'icon': 'file-text',
                                            'title': ('Documentos de ' ~ item.title ),
                                            'modifyAllow': modifyAllow,
                                            'type': 'post',
                                            'filetype':'document'
                                        }
                                            %}  
                                            {% set avoidscripts=true %}
                                            {% include 'DataimageBundle:Dataimage:view.html.twig' %}
                                        </div>
                                        <!--tab-pane-->                                
                                        <div class="tab-pane {% if tabactive=='yt'%}active{% endif %}" id="tab_1_11">
                                            {%
                                        set configVideos = {
                                            'id': item.id,
                                            'icon': 'youtube',
                                            'title': ('Vídeos de de ' ~ item.title ),
                                            'modifyAllow': modifyAllow,
                                            'type': 'post'
                                        }
                                            %}  
                                            {% set ytvideos = item.Ytvideos %}
                                            {% include 'YtvideoBundle:Ytvideo:view.html.twig' %}

                                        </div>
                                        <!--tab-pane-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if modifyAllow == true %}
                        <!--tab_1_2-->
                        <div class="tab-pane" id="tab_1_3">
                            <div class="row profile-account">
                                <div class="col-md-3">
                                    <ul class="ver-inline-menu tabbable margin-bottom-10">
                                        <li class="active">
                                            <a data-toggle="tab" href="#tab_1-1">
                                                <i class="icon-cog"></i> 
                                                Datos
                                            </a> 
                                            <span class="after"></span>                                    
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-9">
                                    <div class="tab-content">
                                        <div id="tab_1-1" class="tab-pane active">
                                            {%
                                set configForm = {
                                    'id' : 'modifypost',
                                    'pathaction': path('blog_modifypost', { 'id': item.id }),
                                    'pathcancel': path('blog_listposts', {'idproject':item.project})
                                }
                                            %}


                                            {% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
                                                {% block formcontent %}
                                                    {% if form_errors(new_form) %}
                                                        <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                                                    {% endif %}

                                                    {% include('BlogBundle:Post:forminsert.html.twig') %}
                                                    {{ form_widget(new_form._token) }}

                                                {% endblock %}                    
                                            {% endembed %}

                                        </div>
                                    </div>
                                </div>
                                <!--end col-md-9-->                                   
                            </div>
                        </div>
                    {% endif %}
                    <!--end tab-pane-->
                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block additionalscripts %}
    {{ parent() }}
    {% set idfield = 'post_body' %}
    {% include 'BEInterfaceBundle:_Scripts:texteditor.html.twig' %}    

    {% set fieldstodatetime = '.datetimepicker' %}
    {% include 'BEInterfaceBundle:_Scripts:datetime.html.twig' %}            

    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}    
    
    <script>
        $('body').ready(function () {
            $("#post_tags").addClass('select2');
            $("#post_tags").select2({
                tags: {{ tags | json_encode | raw }}
            });
        });
    </script>


{% endblock %}    