
<form method="post" action="{{pathdelete}}" onsubmit="return confirmdelete()"> 
        <a class="btn btn red" type="btn" ><i class="icon-trash"></i></a><input class="btn btn red" type="submit" value="Eliminar" />

</form>


{% block additionalscripts %}
    <script>
        function confirmdelete() {
            return confirm("¿Seguro que desea borrarlo? OPERACIÓN IRREVERSIBLE");
        }
    </script>


{% endblock %}