<li class="dd-item dd3-item" data-id="{{ treesection.id }}">
                              <div class="dd-handle dd3-handle"></div>
                              <div class="dd3-content">
                                <a href="{{ path('treesection_viewtreesection', {'id': treesection.id}) }}">{{ treesection.title }}</a>
                                </div>
                                {% if treesection.__children | length > 0 %}
                                    <ol  class="dd-list">
                                        {% set _treesection = treesection %}
                                        {% for treesection in treesection.__children  %}
                                            {% include 'TreesectionBundle:Treesection:indexli.html.twig' %}
                                        {% endfor %}
                                        {% set treesection = _treesection %}
                                    </ol>
                                {% endif %}
</li>
