{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}{{ idproject | getModulename }} - {% endblock %}
{% set titlecontent = idproject | getModulename %}
{% set subtitlecontent = 'Seleccione uno del listado de secciones para ver su detalle' %}
{% if is_catalog != '' %}
    {% set breadcrumb = [{'title': idproject | getModulename , 'link': path('catalog_viewcatalog', {'idproject': is_catalog}), 'icon': 'book'}, {'title': 'Categorías' , 'link': path('treesection_listtreesections', {'idproject': idproject}), 'icon': 'leaf'}] %}
{% else%}
    {% set breadcrumb = [{'title': idproject | getModulename , 'link': path('treesection_listtreesections', {'idproject':idproject}), 'icon': 'leaf'}] %}
{% endif %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}

   <div class="portlet box red">
      <div class="portlet-title">
         <div class="caption"><i class="icon-leaf"></i>{{ idproject | getModulename }}</div>
         <div class="tools">
         </div>
      </div>
    <div class="portlet-body">
    <div class="table-toolbar">
        <div class="btn-group">
                <a href="{{ path('treesection_inserttreesection', {'idproject':idproject}) }}" ><button class="btn red"> Nueva <i class="icon-plus"></i></button></a>
            <div class="clearfix"></div>
        </div>
     </div>
            
        <div id="ajaxloader_nestable_sections" style="display:none; text-align:center; margin:20px auto;"><img src="{{ asset('bundles/beinterface/img/ajax-modal-loading.gif') }}" /></div>    
        <div class="dd" id="nestable_sections"><ol class="dd-list">
        {% for treesection in data %}
            {% include 'TreesectionBundle:Treesection:indexli.html.twig' %}
        {% endfor %}
        </ol></div>
    </div>
   </div>
    
{% endblock %}



{% block additionalscripts %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/beinterface/plugins/jquery-nestable/jquery.nestable.css') }}" />
   <!-- BEGIN PAGE LEVEL SCRIPTS -->
   <script src="{{ asset('bundles/beinterface/plugins/jquery-nestable/jquery.nestable.js') }}"></script>  
    
   <script>
    var updateOutput = function (e) {
                $('#nestable_sections').css('display', 'none');
                $('#ajaxloader_nestable_sections').css('display', 'block');

            var list = e.length ? e : $(e.target), output = list.data('output');
                if (window.JSON) {
                    $.post('{{ path('treesection_ordertree', {'idproject': idproject}) }}', {sections: window.JSON.stringify(list.nestable('serialize')) }, function(r){
                            $('#nestable_sections').css('display', 'block');
                            $('#ajaxloader_nestable_sections').css('display', 'none');

                            if (!r){ alert('Error Desconocido'); return;}
                            if (r.errorCode>0){ alert(r.errorDescription); return;}
                    });
                } else {
                  alert('Su navegador no soporta esta funcionalidad.');
                }
                };
	
	jQuery(document).ready(function() {       
	  $('#nestable_sections').nestable({
	      group: 0
	  }).on('change', updateOutput);
	});
        </script>
{% endblock %}