{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Nueva Sección - {% endblock %}
{% set titlecontent = 'Nueva Sección'%}
{% set subtitlecontent = 'Rellene los campos para insertar una Sección '%}
{% if is_catalog != '' %}
    {% set breadcrumb = [{'title': idproject | getModulename , 'link': path('catalog_viewcatalog', {'idproject': is_catalog}), 'icon': 'book'}, {'title': 'Categorías' , 'link': path('treesection_listtreesections', {'idproject': idproject}), 'icon': 'leaf'}, {'title': 'Nuevo', 'link': path('treesection_inserttreesection', {'idproject':idproject}), 'icon': 'leaf'}] %}
{% else%}
    {% set breadcrumb = [{'title': 'Secciones', 'link': path('treesection_listtreesections', {'idproject':idproject}), 'icon': 'leaf'}, {'title': 'Nuevo', 'link': path('treesection_inserttreesection', {'idproject':idproject}), 'icon': 'leaf'}] %}
{% endif %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

 {%
    set configForm = {
        'id' : 'inserttreesection',
        'pathaction': path('treesection_inserttreesection', {'idproject':idproject}),
        'pathcancel': path('treesection_listtreesections', {'idproject':idproject}),
        'title': 'Sección',
        'icon': 'leaf'
    }
 %}

{% block maincontent %}
    {% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
        {% block formcontent %}
                        {% if form_errors(new_form) %}
                        <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                       {% endif %}

                        {% set configField = { 'label': 'Padre', 'field': 'parent', 'classesinput':'select2'} %}  
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                        {% set configField = { 'label': 'Título', 'field': 'title'} %}  
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                        {% set configField = { 'label': 'Cuerpo', 'field': 'body' } %}
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                        {% set configField = { 'label': '(SEO) Meta Title', 'field': 'metatitle' } %}
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                        {% set configField = { 'label': '(SEO) Meta Description', 'field': 'metadescription' } %}
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
                        
                        {% set configField = { 'label': '(SEO) Meta Tags', 'field': 'tags' } %}
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
                        
                        {% set configField = { 'label': 'Privado', 'field': 'isprivate' } %}
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
                        
                        {% set configField = { 'label': 'Ocultar menú', 'field': 'hidemenu' } %}
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
                        
                        {% set configField = { 'label': 'Protegido', 'field': 'protected' } %}
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
                        
                        {% set configField = { 'label': 'Link externo', 'field': 'externallink' } %}
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
                        
                        {% set configField = { 'label': 'Extra', 'field': 'extra' } %}
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                       
                       {{ form_widget(new_form._token) }}

        {% endblock %}                    
    {% endembed %}
    
  
{% endblock %}         

{% block additionalscripts %}
    {{ parent() }}
    {% set idfield = 'treesection_body' %}
    {% include 'BEInterfaceBundle:_Scripts:texteditor.html.twig' %}    
    
    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}    

{% endblock %}