{#
    Pacolmg
    Greetik Soluciones SL
    view the detail of an treesection
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}{{ item.title }} - Sección - {% endblock %}
{% set titlecontent = item.title %}
{% set subtitlecontent = 'Edite los datos de '~item.title ~' desde aquí' %}
{% if is_catalog != '' %}
    {% set breadcrumb = [{'title': item.project | getModulename , 'link': path('catalog_viewcatalog', {'idproject': is_catalog}), 'icon': 'book'}, {'title': 'Categorías' , 'link': path('treesection_listtreesections', {'idproject': item.project}), 'icon': 'leaf'}, {'title': item.title, 'link': path('treesection_viewtreesection', {'id':  item.id}), 'icon': 'leaf'}] %}
{% else%}
    {% set breadcrumb = [{'title': item.project | getModulename, 'link': path('treesection_listtreesections', {'idproject':item.project}), 'icon': 'leaf'}, {'title': item.title, 'link': path('treesection_viewtreesection', {'id':  item.id}), 'icon': 'leaf'}] %}
{% endif %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}


{% block maincontent %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Sección</a></li>
                    {% if modifyAllow == true %}<li><a href="#tab_1_3" data-toggle="tab">Editar</a></li>{% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-{{ ((is_catalog=='')?9:12) }} profile-info">

                                        {% set break=0 %}
                                        {% for field in new_form %}
                                            {% if field.vars.errors|length and break==0 %}{% set break=1 %}<div class="alert alert-danger">Compruebe los errores del formulario</div>{% endif %}
                                        {% endfor %}
                                        {% if form_errors(new_form) %}<div class="alert alert-danger">{{ form_errors(new_form) }}</div>{% endif %}

                                        <h1>{{ item.title }}
                                            <div class="btn-group">
                                                {%set pathdelete= path('treesection_treesectiondelete', {'id': item.id })%}
                                                {% include('GwadminBundle:Delete:deleteAny.html.twig') %}
                                               <!-- <a href="{#{ path('treesection_treesectiondelete', {'id': item.id, 'idproject':item.project }) }#}" class="btn btn red"> Eliminar <i class="icon-trash"></i></a>-->
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </h1>                                   
                                        {{ item.body | raw }}
                                        <p>&nbsp;</p>
                                        <ul class="list-inline">
                                            <li><i class="icon-building"></i> {{ item.project | getModulename }}</li>
                                            <li><i class="icon-user"></i> Añadido el {{ item.createdat|date("d/m/Y") }} por {{ item.user | getSystemusername }}</li>
                                            {%if item.externallink != '' and item.externallink is not null%}<li><i class="icon-link"></i> {{ item.externallink }}</li>{%endif%}
                                        </ul>
                                        <ul class="list-inline">
                                            {%if item.tags != '' and item.tags is not null%}<li><i class="icon-tags"></i> {{ item.tags }}</li>{%endif%}
                                            {%if item.isprivate is not null%} <li><i class="icon-lock"></i> Privado: {{ ((item.isprivate)?"Sí":"No") }}</li> {%endif%}
                                            {%if item.protected is not null%} <li><i class="icon-lock"></i> Protegido: {{ ((item.protected)?"Sí":"No") }}</li> {%endif%}
                                            {%if item.hidemenu is not null%} <li><i class="icon-unlock-alt"></i> Oculto: {{ ((item.hidemenu)?"Sí":"No") }}</li> {%endif%}
                                            {%if item.extra != '' and item.extra is not null%}<li><i class="icon-paperclip"></i> {{ item.extra }}</li>{%endif%}
                                        </ul>
                                        {% set arrayerror = app.session.flashbag.get('error') %}
                                        {%if  arrayerror | length > 0 %}<div class="alert alert-danger"> {{ arrayerror[0]}} </div> {%endif%}

                                    </div> 
                                    <!--end col-md-9-->
                                    
                                    {% if is_catalog=='' %}
                                    <div class="col-md-3">
                                        <div class="portlet sale-summary">
                                            <div class="portlet sale-summary">
                                                <div class="portlet-title">
                                                    <div class="caption">Módulos</div>
                                                </div>
                                                <div class="portlet-body">
                                                    <ul class="list-unstyled" id="list_sectionmodules">
                                                        {% include('GwadminBundle:Sectionmodule:index.html.twig') %}
                                                    </ul>
                                                </div>

                                                <!-- Links --->
                                                <div class="portlet-title">
                                                    <div class="caption">Enlaces</div>
                                                </div>
                                                <div class="portlet-body">
                                                    <ul class="list-unstyled" id="list_itemlinks">
                                                        {% set _itemtype = 'treesection' %}
                                                        {% set _itemid = item.id %}
                                                        {% include('GwadminBundle:Itemlink:index.html.twig') %}
                                                    </ul>
                                                </div>                                     
                                            </div>                                      
                                        </div>
                                    </div>
                                    {% endif %}
                                    <!--end col-md-3-->
                                </div>
                                <!--end row-->
                                <div class="tabbable tabbable-custom tabbable-custom-profile">
                                    <ul class="nav nav-tabs">
                                        <li {% if (option is defined and (option=='insertImage' or  option=='' )) or option is not defined %}{% set tabactive="img" %}class="active"{% endif %}><a href="#tab_1_22" data-toggle="tab">Imágenes</a></li>
                                        <li {% if (option is defined and (option=='insertDoc' or  option=='tabdocs' ))  %}{% set tabactive="doc" %}class="active"{% endif %}><a href="#tab_1_33" data-toggle="tab">Documentos</a></li>
                                        <li {% if (option is defined and (option=='insertYT' or  option=='tabvideos' ))  %}{% set tabactive="yt" %}class="active"{% endif %}><a href="#tab_1_11" data-toggle="tab">Vídeos</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane {% if tabactive=='img'%}active{% endif %}" id="tab_1_22">
                                            {%
                                        set configFiles = {
                                            'id': item.id,
                                            'icon': 'leaf',
                                            'title': ('Imágenes de ' ~ item.title ),
                                            'modifyAllow': modifyAllow,
                                            'type': 'treesection',
                                            'filetype':'image'
                                        }
                                            %}  
                                            {% include 'DataimageBundle:Dataimage:view.html.twig' %}
                                        </div>
                                        <div class="tab-pane {% if tabactive=='doc'%}active{% endif %}" id="tab_1_33">
                                            {%
                                        set configFiles = {
                                            'id': item.id,
                                            'icon': 'leaf',
                                            'title': ('Documentos de ' ~ item.title ),
                                            'modifyAllow': modifyAllow,
                                            'type': 'treesection',
                                            'filetype':'document'
                                        }
                                            %}  
                                            {% set avoidscripts=true %}
                                            {% include 'DataimageBundle:Dataimage:view.html.twig' %}
                                        </div>                               
                                        <!--tab-pane-->                                
                                        <div class="tab-pane {% if tabactive=='yt'%}active{% endif %}" id="tab_1_11">
                                            {%
                                        set configVideos = {
                                            'id': item.id,
                                            'icon': 'youtube',
                                            'title': ('Vídeos de de ' ~ item.title ),
                                            'modifyAllow': modifyAllow,
                                            'type': 'treesection'
                                        }
                                            %}  
                                            {% set ytvideos = item.Ytvideos %}
                                            {% include 'YtvideoBundle:Ytvideo:view.html.twig' %}

                                        </div>
                                        <!--tab-pane-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if modifyAllow == true %}
                        <!--tab_1_2-->
                        <div class="tab-pane" id="tab_1_3">
                            <div class="row profile-account">
                                <div class="col-md-3">
                                    <ul class="ver-inline-menu tabbable margin-bottom-10">
                                        <li class="active">
                                            <a data-toggle="tab" href="#tab_1-1">
                                                <i class="icon-cog"></i> 
                                                Datos
                                            </a> 
                                            <span class="after"></span>                                    
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-9">
                                    <div class="tab-content">
                                        <div id="tab_1-1" class="tab-pane active">
                                            {%
                                set configForm = {
                                    'id' : 'modifytreesection',
                                    'pathaction': path('treesection_modifytreesection', { 'id': item.id }),
                                    'pathcancel': path('treesection_listtreesections', {'idproject':item.project})
                                }
                                            %}


                                            {% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
                                                {% block formcontent %}
                                                    {% if form_errors(new_form) %}
                                                        <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                                                    {% endif %}


                                                    {% set configField = { 'label': 'Título', 'field': 'title'} %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                    {% set configField = { 'label': 'Cuerpo', 'field': 'body' } %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                    {% set configField = { 'label': '(SEO) Meta Title', 'field': 'metatitle' } %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                    {% set configField = { 'label': '(SEO) Meta Description', 'field': 'metadescription' } %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                    {% set configField = { 'label': '(SEO) Meta Tags', 'field': 'tags' } %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                    {% set configField = { 'label': 'Privado', 'field': 'isprivate' } %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                    {% set configField = { 'label': 'Ocultar menú', 'field': 'hidemenu' } %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                    {% set configField = { 'label': 'Protegido', 'field': 'protected' } %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                    {% set configField = { 'label': 'Link externo', 'field': 'externallink' } %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                    {% set configField = { 'label': 'Extra', 'field': 'extra' } %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}


                                                    {{ form_widget(new_form._token) }}

                                                {% endblock %}                    
                                            {% endembed %}

                                        </div>
                                    </div>
                                </div>
                                <!--end col-md-9-->                                   
                            </div>
                        </div>
                    {% endif %}
                    <!--end tab-pane-->
                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block additionalscripts %}
    {{ parent() }}
    {% set idfield = 'treesection_body' %}
    {% include 'BEInterfaceBundle:_Scripts:texteditor.html.twig' %}    

    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}    


{% endblock %}    