{#
    Pacolmg
    Greetik Soluciones SL
    view the markers table
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}{{ idproject | getModulename }} - {% endblock %}
{% set titlecontent = idproject | getModulename  %}
{% set subtitlecontent = 'Seleccione uno del listado de marcadores para ver su detalle' %}
{% set breadcrumb = [{'title': idproject | getModulename , 'link': path('gmap_viewmap', {'idproject': idproject}), 'icon': 'map-marker'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}


{% block maincontent %}
    
<div class="row">
    <div class="col-md-8 profile-info">
        <noscript><div class='alert alert-info'><h4>Your JavaScript is disabled</h4><p>Please enable JavaScript to view the map.</p></div></noscript>
        <div id='map_canvas' class="gmaps"></div>
      </div>

    <div class="col-md-4">
       <div class="portlet sale-summary">
          <div class="portlet-title">
             <div class="caption">Info</div>
             <div class="tools">
             </div>
          </div>
          <div class="portlet-body">
             <ul class="list-unstyled">
                <li>
                   <span class="sale-info">Lat: <i class="icon-img-up"></i></span> 
                   <span class="sale-num" id="info_lat">{{ item.lat }}</span>
                </li>
                <li>
                   <span class="sale-info">Lon: <i class="icon-img-right"></i></span> 
                   <span class="sale-num" id="info_lon">{{ item.lon }}</span>
                </li>
                <li>
                   <span class="sale-info">Zoom: </span> 
                   <span class="sale-num" id="info_zoom">{{ item.zoom }}</span>
                </li>
                <li>
                   <span class="sale-info">Tipo: </span> 
                   <span class="sale-num" id="info_type">{{ item.type }}</span>
                </li>
             </ul>
            
            <div id="ajaxloader_map_{{ idproject }}" style="display:none; text-align:center; margin:20px auto;"><img src="{{ asset('bundles/beinterface/img/ajax-modal-loading.gif') }}" /></div>
            <div class="table-toolbar" id="btnsavemap_{{ idproject }}_holder">
                <div class="btn-group">
                    <button class="btn red" id='savemap_{{ idproject }}'> Guardar <i class="icon-disk"></i></button><div class="clearfix"></div>
                </div>
             </div>
            <span id='info_infosave'></span>
          </div>
       </div>
    </div>
    <!--end col-md-4-->    
    <div class="clearfix"></div>
    
</div>    
                <div style="margin:15px 0px;"></div>
    
{%
    set configTable = {
                                'id': 'marker', 
                                'title': 'Marcadores', 
                                'icon':'map-marker',
                                'noOptions':true,
                                'viewdata': {'url': 'gmap_viewmarker'},
                                'fields': {'title': {'title': 'Título', 'link_view': true}, 'lat': {'title': 'Lat'}, 'lon': {'title': 'Lon'}} 
                               }
                              
%}

{% if insertAllow %}{% set configTable = configTable|merge( {'insertdata': {'url': path('gmap_insertmarker', {'idproject': idproject})}}) %}{% endif %}

{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}


  
{%set data=gpxs%}

{%
    set configTable = {
                                'id': 'gpx', 
                                'title': 'Gpx', 
                                'icon':'map-marker',
                                'noOptions':true,
                                'viewdata': {'url': 'gmap_viewgpx'},
                                'fields': {'title': {'title': 'Título', 'link_view': true}, 'start': {'title': 'Inicio'}, 'end': {'title': 'Fin'}} 
                               }
                              
%}

{% if insertAllow %}{% set configTable = configTable|merge( {'insertdata': {'url': path('gmap_insertgpx', {'idproject': idproject})}}) %}{% endif %}

{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}


{% endblock %}


{% block additionalscripts %}

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
    <script type="text/javascript" src="{{ asset('bundles/gmap/js/maps_lib.js') }}"></script>

    

    <script type='text/javascript'>
     
        $(function() {
          var myMap = new MapsLib({
            map_center:         [{{ ((item.lat)?item.lat:43.56894930676954) }}, {{ ((item.lon)?item.lon:-37.95055389404297) }}],
            defaultZoom: {{ ((item.zoom)?item.zoom:2) }},
            publicmap: false,
            urlgetmarkers: "{{ path('gmap_getmarkers', {'idproject':idproject}) }}",
            urlgetgpxs: "{{ path('gmap_getgpxs', {'idproject':idproject}) }}",
            urlmovemarker: "{{ path('gmap_movemarker') }}"{% if app.environment == 'dev' %}, environment: 'dev'{% endif %}
          });
          
          $('#savemap_{{ idproject }}').click(function(){
              $('#btnsavemap_{{ idproject }}_holder').css('display', 'none');
              $('#ajaxloader_map_{{ idproject }}').css('display', 'block');
              
              $.post("{{ path('gmap_savemapdata', {'idproject': idproject}) }}", {lat: myMap.map.getCenter().lat(), lon: myMap.map.getCenter().lng(), zoom:myMap.map.getZoom(), type:myMap.map.getMapTypeId()}, function(r){
                $('#btnsavemap_{{ idproject }}_holder').css('display', 'block');
                $('#ajaxloader_map_{{ idproject }}').css('display', 'none');
                  if (!r){ alert('Error Desconocido'); return;}
                  if (r.errorCode){ alert(r.errorDescription); return; }
                  
                  $("#info_infosave").html("<i class='icon-success'></i> ¡Mapa Guardado!");
              });
          });
          
        });
      //]]>
    </script>     
{% endblock %}