{% if form_errors(new_form) %}
    <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
{% endif %}

{% set configField = { 'label': 'Categoría', 'field': 'section', 'classesinput':'select2'} %}  
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set fieldsrichttext = [] %}
{% for productfield  in productfields %}
{% if productfield.formfieldtype.code == 11%}{% set fieldsrichttext = fieldsrichttext | merge(['product_field_'~productfield.id]) %}{% endif %}
{% set configField = { 'label': productfield.name, 'field': 'field_'~productfield.id, 'classesinput': new_form['field_'~productfield.id].vars.attr.class is defined ? new_form['field_'~productfield.id].vars.attr.class:'' } %}  
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
{% endfor %}


<hr />

{% set configField = { 'label': 'Metatitle', 'field': 'metatitle', 'classesinput':''} %}  
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Metadescription', 'field': 'metadescription', 'classesinput':''} %}  
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Meta Keywords', 'field': 'tags', 'classesinput':''} %}  
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
{{ form_widget(new_form._token) }}

{% set fieldstodatetime = '.datetimepicker' %}
{% include 'BEInterfaceBundle:_Scripts:datetime.html.twig' %}    

{% set fieldstodate = '.datepicker' %}
{% include 'BEInterfaceBundle:_Scripts:date.html.twig' %}    

{% set fieldstoselect = '.select2' %}
{% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}    

{% for idfield in fieldsrichttext %}
    {% include 'BEInterfaceBundle:_Scripts:texteditor.html.twig' %}    
{% endfor %}
