{#
    Pacolmg
    Greetik Soluciones SL
    view the ítems table
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}{{ idproject | getModulename }} - {% endblock %}
{% set titlecontent = idproject | getModulename  %}
{% set subtitlecontent = 'Seleccione uno del listado de productos para ver su detalle' %}
{% set breadcrumb = [{'title': idproject | getModulename , 'link': path('blog_listposts', {'idproject': idproject}), 'icon': 'book'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}

    {% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}    
    {% include 'BEInterfaceBundle:_Default:warningfromflash.html.twig' %}    
    {% include 'BEInterfaceBundle:_Default:successfromflash.html.twig' %}    

    <div class="table-toolbar">
        <div class="btn-group">
            <a href="{{ path('contactform_listformfields', {'idproject': formid }) }}" ><button class="btn blue"> Campos <i class="icon-tasks"></i></button></a>            
            <a href="{{ path('treesection_listtreesections', {'idproject': treesectionid }) }}" ><button class="btn blue"> Categorías <i class="icon-leaf"></i></button></a>
            <div class="clearfix"></div>
        </div>
    </div>

    {% set fields = {'id':{'title':'#', 'link_view': true}, 'category':{'title':'Categoría', 'filter':true}} %}
    {% set i=0 %}
    {% for _field in productfields %}
        {%set aux = { ('field_'~_field.id) : {'title': _field.name, 'filter': (_field.formfieldtype.code==4 or _field.formfieldtype.code==5 or _field.formfieldtype.code==6), 'link_view': i==0}}%}
        {% set fields = fields | merge (aux) %}
        {% set i=i+1 %}

    {% endfor %}

    {%
    set configTable = {
                                'id': 'producto',
                                'title': 'Ítems', 
                                'icon':'book',
                                'noOptions':true,
                                'viewdata': {'url': 'catalog_viewproduct'},
                                'extrabtns': { 'btnexportcatalog':{
                                    'url': path('catalog_exportcatalog', {'idproject':idproject}    ),
                                    'extralink': 'target="_blank"',
                                    'icon': 'arrow-down',
                                    'color': 'purple',
                                    'title': 'Exportar'
                                        },
                                    'btnimportcatalog':{
                                    'url': path('catalog_importcatalogform', {'idproject':idproject}),
                                    'extralink': 'data-target="#modal_ajax" data-toggle="modal"',
                                    'icon': 'arrow-up',
                                    'color': 'default',
                                    'title': 'Importar'
                                        },
                                    'btnmasiveimages':{
                                    'url': path('catalog_masiveimagechange', {'idproject':idproject}),
                                    'icon': 'camera',
                                    'color': 'yellow',
                                    'title': 'Modificación de Imágenes'
                                        },
                                    'btnmasivedelete':{
                                    'url': 'javascript:deletemasive()',
                                    'extralink': '',
                                    'icon': 'trash',
                                    'color': 'red',
                                    'title': 'Borrar Seleccionados'
                                        }
                                    
                                },
                                'fields': fields                                
                               }
                              
    %}

{% if insertAllow %}{% set configTable = configTable|merge( {'insertdata': {'url': path('catalog_insertproduct', {'idproject': idproject})}}) %}{% endif %}

{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}


{%
       set configForm = {
           'id' : 'viewfields',
           'pathaction': path('catalog_changefieldstoview', {'idproject':idproject}),
           'pathcancel': path('catalog_viewcatalog', {'idproject':idproject}),
           'title': 'Ver Campos en la Tabla',
           'icon': 'book'
       }
%}
{% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
    {% block formcontent %}
        {% if form_errors(new_form) %}
            <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
        {% endif %}

        {% set configField = { 'label': 'Campos para ver en la tabla', 'field': 'fieldstoview', 'classesinput':'select2'} %}  
        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

        {{ form_widget(new_form._token) }}

    {% endblock %}
{% endembed %}


{% block additionalscripts %}
    {{ parent() }}

    <script>
        function deletemasive() {
            var itemstodelete = fnGetSelected(oTableproducto);
            var htmlHidden = '';
            var cont = 0;
            for (var i in itemstodelete) {
                var aux = $(itemstodelete[i]).attr('id').split('_');
                htmlHidden += ((htmlHidden == '') ? '' : ', ') + aux[1];
                cont++;
            }
            if (!confirm("¿Seguro que desea borrar " + cont + " elementos?\nLos elementos con id " + htmlHidden+".\nOPERACIÓN IRREVERSIBLE"))
                return;
            
            $('.btn-group').css('display', 'none');
            $.post('{{ path('catalog_masivedelete', {'idproject': idproject}) }}',  {'ids': htmlHidden.split(',')} , function(r){
                $('.btn-group').css('display', 'block');
                if (r.errorCode){ alert(r.errorDescription); return; }
                if (r.warning!=''){ alert(r.warning);  }
                alert ('Se eliminaron '+r.data.num+' elementos');
                location.href="{{ path('catalog_viewcatalog', {'idproject':idproject})}}";
            });

        }
    </script>
    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}    
{% endblock %}

{% endblock %}