{#
    Pacolmg
    Greetik Soluciones SL
    view the detail of an product
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Ítem - {% endblock %}
{% set titlecontent = 'Ítem'%}
{% set subtitlecontent = 'Edite los datos del ítem desde aquí' %}
{% set breadcrumb = [{'title':item.product.project | getModulename, 'link': path('catalog_viewcatalog', {'idproject':item.product.project}), 'icon': 'book'}, {'title': 'ítem', 'link': path('catalog_viewproduct', {'id':  item.product.id}), 'icon': 'book'}] %}

{% block maincontent %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Ítem</a></li>
                    {% if modifyAllow == true %}<li><a href="#tab_1_3" data-toggle="tab">Editar</a></li>{% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-9 profile-info">

                                        {% set break=0 %}
                                        {% for field in new_form %}
                                            {% if field.vars.errors|length and break==0 %}{% set break=1 %}<div class="alert alert-danger">Compruebe los errores del formulario</div>{% endif %}
                                        {% endfor %}
                                        {% if form_errors(new_form) %}<div class="alert alert-danger">{{ form_errors(new_form) }}</div>{% endif %}
                                        {% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %} 

                                        <h1>Ítem de {{ item.product.section | getSectionname }}
                                            <div class="btn-group">
                                                {%set pathdelete= path('catalog_deleteproduct', {'id': item.product.id })%}
                                                {% include('GwadminBundle:Delete:deleteAny.html.twig') %}
                                          <!--  <a href="{#{path('catalog_deleteproduct', {'id': item.product.id }) }#}" class="btn btn red">Eliminar <i class="icon-trash"></i></a>-->
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </h1>                                   

                                        {% for productfield in productfields %}
                                            <p><strong>{{ productfield.name }}:</strong> {{ item.fields['field_'~productfield.id] | raw }}</p>
                                        {% endfor %}

                                    </div>
                                    <!--end col-md-9-->

                                    <div class="col-md-3">
                                        <!-- Links ---
                                        <div class="portlet-title">
                                         <div class="caption">Enlaces</div>
                                      </div>
                                      <div class="portlet-body">
                                         <ul class="list-unstyled" id="list_itemlinks">
                                        {% set _itemtype = 'product' %}
                                        {% set _itemid = item.product.id %}
                                        {% include('GwadminBundle:Itemlink:index.html.twig') %}
                                    </ul>
                                 </div>    -->
                                    </div>

                                </div>
                                <!--end row-->
                                <div class="tabbable tabbable-custom tabbable-custom-profile">
                                    <ul class="nav nav-tabs">
                                        <li {% if (option is defined and (option=='insertImage'  or  option=='' )) %}{% set tabactive="img" %}class="active"{% endif %}><a href="#tab_1_22" data-toggle="tab">Imágenes</a></li>
                                        <li {% if (option is defined and (option=='insertDoc' or  option=='tabdocs' )) or option is not defined %}{% set tabactive="doc" %}class="active"{% endif %}><a href="#tab_1_33" data-toggle="tab">Documentos</a></li>
                                        <li {% if (option is defined and (option=='insertYT' or  option=='tabvideos' )) or option is not defined %}{% set tabactive="yt" %}class="active"{% endif %}><a href="#tab_1_11" data-toggle="tab">Vídeos</a></li>
                                    </ul>
                                    <div class="tab-content">

                                        <div class="tab-pane {% if tabactive=='img'%}active{% endif %}" id="tab_1_22">
                                            {%
                                        set configFiles = {
                                            'id': item.product.id,
                                            'icon': 'book',
                                            'title': ('Imágenes de Ítem' ),
                                            'modifyAllow': modifyAllow,
                                            'type': 'product',
                                            'filetype':'image'
                                        }
                                            %}  
                                            {% include 'DataimageBundle:Dataimage:view.html.twig' %}
                                        </div>                               
                                        <div class="tab-pane {% if tabactive=='doc'%}active{% endif %}" id="tab_1_33">
                                            {%
                                        set configFiles = {
                                            'id': item.product.id,
                                            'icon': 'book',
                                            'title': ('Documentos de Ítem'),
                                            'modifyAllow': modifyAllow,
                                            'type': 'product',
                                            'filetype':'document'
                                        }
                                            %}  
                                            {% set avoidscripts=true %}
                                            {% include 'DataimageBundle:Dataimage:view.html.twig' %}
                                        </div>
                                        <!--tab-pane-->                                
                                        <div class="tab-pane {% if tabactive=='yt'%}active{% endif %}" id="tab_1_11">
                                            {%
                                        set configVideos = {
                                            'id': item.product.id,
                                            'icon': 'youtube',
                                            'title': ('Vídeos de de Ítem' ),
                                            'modifyAllow': modifyAllow,
                                            'type': 'product'
                                        }
                                            %}  
                                            {% set ytvideos = item.product.Ytvideos %}
                                            {% include 'YtvideoBundle:Ytvideo:view.html.twig' %}

                                        </div>
                                        <!--tab-pane-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if modifyAllow == true %}
                        <!--tab_1_2-->
                        <div class="tab-pane" id="tab_1_3">
                            <div class="row profile-account">
                                <div class="col-md-3">
                                    <ul class="ver-inline-menu tabbable margin-bottom-10">
                                        <li class="active">
                                            <a data-toggle="tab" href="#tab_1-1">
                                                <i class="icon-cog"></i> 
                                                Datos
                                            </a> 
                                            <span class="after"></span>                                    
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-9">
                                    <div class="tab-content">
                                        <div id="tab_1-1" class="tab-pane active">
                                            {%
                                set configForm = {
                                    'id' : 'modifyproduct',
                                    'pathaction': path('catalog_modifyproduct', { 'id': item.product.id }),
                                    'pathcancel': path('catalog_viewcatalog', {'idproject':item.product.project})
                                }
                                            %}


                                            {% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
                                                {% block formcontent %}
                                                    {% include('CatalogBundle:Product:forminsert.html.twig') %}
                                                {% endblock %}                    
                                            {% endembed %}

                                        </div>
                                    </div>
                                </div>
                                <!--end col-md-9-->                                   
                            </div>
                        </div>
                    {% endif %}
                    <!--end tab-pane-->
                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}
