SECCIONES;
#;TÍTULO;METATITLE;METADESCRIPTION;METATAGS;LINK;
{% for section in sections %}
    {{ section. id}};{{ section.title }};{{ section.metatitle }};{{ section.metadescription }};{{ section.tags }};{{ hostname }}/seccion/{{ section.title | spaceencodeurl(true) }}-{{ section.id}};
{% endfor %}

NOTICIAS;
#;TÍTULO;METATITLE;METADESCRIPTION;METATAGS;LINK;
{% for post in posts %}
    {{ post. id}};{{ post.title }};{{ post.metatitle }};{{ post.metadescription }};{{ post.tags | join(',')}};{{ hostname }}/post/{{ post.title | spaceencodeurl(true) }}-{{ post.id}};
{% endfor %}

IMÁGENES;
#;TÍTULO;LINK;
{% for image in images %}
    {{ image.id}};{{ image.name }};{{hostname}}{{ image.url }};
{% endfor %}

DOCUMENTOS;
#;TÍTULO;LINK;
{% for document in documents %}
    {{ document.id}};{{ document.name }};{{hostname}}{{ document.url }};
{% endfor %}