{% extends '::base.html.twig' %}

{% block favicon %}<link rel="icon" type="image/x-icon" href="{{ asset('bundles/beinterface/img/favicon.png') }}" />{% endblock %}

{% block stylesheets %}
    <!-- BEGIN THEME STYLES --> 
    <!-- BEGIN GLOBAL MANDATORY STYLES -->          
    <link href="{{ asset('bundles/beinterface/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/beinterface/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/beinterface/plugins/uniform/css/uniform.default.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES --> 
    <link href="{{ asset('bundles/beinterface/css/style-metronic.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/beinterface/css/style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/beinterface/css/style-responsive.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/beinterface/css/plugins.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/beinterface/css/themes/light.css') }}" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="{{ asset('bundles/beinterface/css/custom.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
{% endblock %}

{% block javascriptshead %} 

    <script src="{{ asset('bundles/beinterface/plugins/jquery-1.10.2.min.js') }}" type="text/javascript"></script>   
    <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="{{ asset('bundles/beinterface/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/beinterface/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/beinterface/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/beinterface/plugins/jquery.cookie.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/beinterface/plugins/uniform/jquery.uniform.min.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('bundles/beinterface/scripts/custom.js') }}" type="text/javascript" ></script>
    <!-- END CORE PLUGINS -->

{% endblock %}

{% block body %}

    {% include 'BEInterfaceBundle:_Default:header.html.twig' %}
    <div class="clearfix"></div>
    <div class="page-container">
        {% include 'BEInterfaceBundle:_Default:mainmenu.html.twig' %}
        <div class="page-content">
        {% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{%endblock%}
        {% block maincontent %}

            <div class="col-md-6 col-sm-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">¡Bienvenido Administrador!</div>
                    </div>
                    <div class="portlet-body">

                        <p>Pulse sobre el menú de la izquierda para navegar</p>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">Controla el contenido de tu Web</div>
                    </div>
                    <div class="portlet-body">
                        <a target="_blank" href="{{ path('gwadmin_exportweb') }}"><button class="btn purple"> Exportar Contenido <i class="icon-arrow-down"></i></button></a>
                        &nbsp;<a data-toggle="modal" data-target="#modal_ajax" href="{{ path('gwadmin_importwebform') }}"><button class="btn grey"> Importar Contenido <i class="icon-arrow-up"></i></button></a>
                    </div>
                </div>
            </div>                    
        {% endblock %}
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
{% include 'BEInterfaceBundle:_Default:footer.html.twig' %}
<div class="clearfix"></div>

{% endblock %}