<!-- BEGIN SIDEBAR -->
      <div class="page-sidebar navbar-collapse collapse">
         <!-- BEGIN SIDEBAR MENU -->        
         <ul class="page-sidebar-menu">
            <li>
               <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
               <div class="sidebar-toggler hidden-phone"></div>
               <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            </li>
            <div class="hidden-phone" style="width:60%; margin:5px auto; float:none;">
                <img src="{{ app.user.project | getProjectAvatar(true) }}" alt="Logo"style="width:100%;">
            </div>
            <li>
            	&nbsp;
            </li>

            <li class="start{% if app.request.attributes.get('_route')=='beinterface_homepage' %} active{% endif %}">
               <a href="{{ path('beinterface_homepage') }}">
               <i class="icon-home"></i> 
               <span class="title">Inicio</span>
               <span class="selected"></span>
               </a>
            </li>
            
            {% if is_granted('ROLE_ADMIN') %}
            <li class="{% if 'module_' in app.request.attributes.get('_route') %}active{% endif %}">
            	<a href="{{ path('module_listmodules') }}">
            	 <i class="icon-barcode"></i> 
               <span class="title">Módulos</span>
               <span class="selected"></span>
	</a>
            </li>            

            {% set modulesnews = function_modules.getModulesByType(1) %}
            {% if modulesnews | length > 0 %}
            <li class="{% if 'blog_' in app.request.attributes.get('_route') %}active{% endif %}">
            	<a href="javascript:;">
            	 <i class="icon-file-text"></i> 
               <span class="title">Noticias</span>
               <span class="selected"></span>
	</a>
                <ul class="sub-menu">
                {% for modulenew in modulesnews %}
                    <li><a href="{{ path('blog_listposts', {'idproject': modulenew.id }) }}">{{ modulenew.name }}</a></li>
                {% endfor %}
                </ul>
            </li>       
            {% endif %}
            
            {% set modulestreesections = function_modules.getModulesByType(2) %}
            {% if modulestreesections | length > 0 %}
            <li class="{% if 'treesection_' in app.request.attributes.get('_route') %}active{% endif %}">
            	<a href="javascript:;">
            	 <i class="icon-leaf"></i> 
               <span class="title">Secciones</span>
               <span class="selected"></span>
	</a>
                <ul class="sub-menu">
                {% for moduletreesection in modulestreesections %}
                    <li><a href="{{ path('treesection_listtreesections', {'idproject': moduletreesection.id }) }}">{{ moduletreesection.name }}</a></li>
                {% endfor %}
                </ul>
            </li>       
            {% endif %}

            {% set modulescontactform = function_modules.getModulesByType(3) %}
            {% if modulescontactform | length > 0 %}
            <li class="{% if 'contactform_' in app.request.attributes.get('_route') %}active{% endif %}">
            	<a href="javascript:;">
            	 <i class="icon-tasks"></i> 
               <span class="title">Formularios</span>
               <span class="selected"></span>
	</a>
                <ul class="sub-menu">
                {% for modulecontactform in modulescontactform %}
                    <li><a href="{{ path('contactform_listformfields', {'idproject': modulecontactform.id }) }}">{{ modulecontactform.name }}</a></li>
                {% endfor %}
                </ul>
            </li>       
            {% endif %}              
            
            
            {% set modulesgmaps = function_modules.getModulesByType(4) %}
            {% if modulesgmaps | length > 0 %}
            <li class="{% if 'gmap_' in app.request.attributes.get('_route') %}active{% endif %}">
            	<a href="javascript:;">
            	 <i class="icon-map-marker"></i> 
               <span class="title">Mapas</span>
               <span class="selected"></span>
	</a>
                <ul class="sub-menu">
                {% for modulegmap in modulesgmaps %}
                    <li><a href="{{ path('gmap_viewmap', {'idproject': modulegmap.id }) }}">{{ modulegmap.name }}</a></li>
                {% endfor %}
                </ul>
            </li>       
            {% endif %}            

            {% set modulescatalogs = function_modules.getModulesByType(5) %}
            {% if modulescatalogs | length > 0 %}
            <li class="{% if 'catalog_' in app.request.attributes.get('_route') %}active{% endif %}">
            	<a href="javascript:;">
            	 <i class="icon-book"></i> 
               <span class="title">Catálogos</span>
               <span class="selected"></span>
	</a>
                <ul class="sub-menu">
                {% for modulecatalog in modulescatalogs %}
                    <li><a href="{{ path('catalog_viewcatalog', {'idproject': modulecatalog.id }) }}">{{ modulecatalog.name }}</a></li>
                {% endfor %}
                </ul>
            </li>       
            {% endif %}            
            
            {% endif %}
            {% if is_granted('ROLE_ADMIN')  and is_granted('ROLE_SUPERADMIN')==false %}
            <li class="{% if 'systemuser_' in app.request.attributes.get('_route') and app.request.attributes.get('_route') != 'systemuser_viewteam' and app.request.attributes.get('_route') != 'systemuser_viewtraining'  %}active{% endif %}">
            	<a href="{{ path('systemuser_listsystemusers') }}">
            	 <i class="icon-user"></i> 
               <span class="title">Usuarios</span>
               <span class="selected"></span>
	</a>
            </li>                        
            {% endif %}
           
            
            
         </ul>
         <!-- END SIDEBAR MENU -->
      </div>
      <!-- END SIDEBAR -->
      <!-- BEGIN PAGE -->