#;CATID;CATEGORÍA;METATITLE;METADESCRIPTION;METATAGS;{% set i=0 %}{% for pf in productfields %}{% if pf.formfieldtype.code != 11 %}{{ pf.name }};{% endif %}{% endfor %}LINK;
{% for product in data %}
    {{ product.id}};{{ product.categoryid }};{{ product.category }};{{ product.metatitle }};{{ product.metadescription }};{{ product.tags }};{% set i=0 %}{% for pf in productfields %}{% if pf.formfieldtype.code != 11 %}{{ product['field_'~pf.id] }};{% endif %}{% endfor %}{{ path('publicweb_product', {'title': product.mainfield | spaceencodeurl(true), 'id':product.id}) }};
{% endfor %}