{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Nuevo Marcador en {{ idproject | getModulename }} - {% endblock %}
{% set titlecontent = 'Nuevo Marcador en ' ~ idproject | getModulename %}
{% set subtitlecontent = 'Rellene los campos para insertar un marcador '%}
{% set breadcrumb = [{'title': idproject | getModulename, 'link': path('gmap_viewmap', {'idproject':idproject}), 'icon': 'map-marker'}, {'title': 'Nuevo', 'link': path('gmap_insertmarker', {'idproject':idproject}), 'icon': 'map-marker'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

 {%
    set configForm = {
        'id' : 'insertmarker',
        'pathaction': path('gmap_insertmarker', {'idproject':idproject}),
        'pathcancel': path('gmap_viewmap', {'idproject':idproject}),
        'title': 'Marker',
        'icon': 'map-marker'
    }
 %}

{% block maincontent %}
    {% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
        {% block formcontent %}
                        {% if form_errors(new_form) %}
                        <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                       {% endif %}

                        {% set configField = { 'label': 'Título', 'field': 'title'} %}  
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                        {% set configField = { 'label': 'Cuerpo', 'field': 'body' } %}
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                        {% set configField = { 'label': 'Color', 'field': 'color', 'classesinput':'colorpicker' }  %}
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                        {% set configField = { 'label': 'Sección Externa', 'field': 'externalid', 'classesinput':'select2' }  %}
                        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                       
                       {{ form_widget(new_form._token) }}

        {% endblock %}                    
    {% endembed %}
    
  
{% endblock %}         

{% block additionalscripts %}
    
    {{ parent() }}
    {% set idfield = 'marker_body' %}
    {% include 'BEInterfaceBundle:_Scripts:texteditor.html.twig' %}    
    
    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}        
{% endblock %}