{#
    Pacolmg
    Greetik Soluciones SL
    view the detail of an marker
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}{{ item.title }} - Marcador - {% endblock %}
{% set titlecontent = item.title %}
{% set subtitlecontent = 'Edite los datos de '~item.title ~' desde aquí' %}
{% set breadcrumb = [{'title': item.project | getModulename, 'link': path('gmap_viewmap', {'idproject':item.project}), 'icon': 'map-marker'}, {'title': item.title, 'link': path('gmap_viewmarker', {'id':  item.id}), 'icon': 'map-marker'}] %}

{% block maincontent %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Marcador</a></li>
                    {% if modifyAllow == true %}<li><a href="#tab_1_3" data-toggle="tab">Editar</a></li>{% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12 profile-info">

                                        {% set break=0 %}
                                        {% for field in new_form %}
                                            {% if field.vars.errors|length and break==0 %}{% set break=1 %}<div class="alert alert-danger">Compruebe los errores del formulario</div>{% endif %}
                                        {% endfor %}
                                        {% if form_errors(new_form) %}<div class="alert alert-danger">{{ form_errors(new_form) }}</div>{% endif %}

                                        <h1>{{ item.title }}
                                            <div class="btn-group">
                                                {%set pathdelete= path('gmap_deletemarker', {'id': item.id })%}
                                                {% include('GwadminBundle:Delete:deleteAny.html.twig') %}

                                              <!--  <a target="_blank" href="{#{ path('gmap_markerprint', {'id': item.id, 'idproject':item.project }) }#}" class="btn btn red">Imprimir <i class="icon-print"></i></a>-->
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </h1>                                   
                                        {{ item.body | raw }}
                                        <p>&nbsp;</p>
                                        <ul class="list-inline">
                                            <li><i class="icon-building"></i> {{ item.project | getModulename }}</li>
                                        </ul>
                                    </div>
                                    <!--end col-md-12-->

                                </div>
                                <!--end row-->
                                <div class="tabbable tabbable-custom tabbable-custom-profile">
                                    <ul class="nav nav-tabs">
                                        <li {% if (option is defined and (option=='insertImage' or  option=='' )) or option is not defined %}{% set tabactive="img" %}class="active"{% endif %}><a href="#tab_1_22" data-toggle="tab">Imágenes</a></li>
                                        <li {% if (option is defined and (option=='insertDoc' or  option=='tabdocs' ))  %}{% set tabactive="doc" %}class="active"{% endif %}><a href="#tab_1_33" data-toggle="tab">Documentos</a></li>
                                        <li {% if (option is defined and (option=='insertYT' or  option=='tabvideos' ))  %}{% set tabactive="yt" %}class="active"{% endif %}><a href="#tab_1_11" data-toggle="tab">Vídeos</a></li>                            </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane {% if tabactive=='img'%}active{% endif %}" id="tab_1_22">
                                            {%
                                        set configFiles = {
                                            'id': item.id,
                                            'icon': 'map-marker',
                                            'title': ('Imágenes de ' ~ item.title ),
                                            'modifyAllow': modifyAllow,
                                            'type': 'marker',
                                            'filetype':'image'
                                        }
                                            %}  
                                            {% include 'DataimageBundle:Dataimage:view.html.twig' %}
                                        </div>
                                        <div class="tab-pane {% if tabactive=='doc'%}active{% endif %}" id="tab_1_33">
                                            {%
                                        set configFiles = {
                                            'id': item.id,
                                            'icon': 'map-marker',
                                            'title': ('Documentos de ' ~ item.title ),
                                            'modifyAllow': modifyAllow,
                                            'type': 'marker',
                                            'filetype':'document'
                                        }
                                            %}  
                                            {% set avoidscripts=true %}
                                            {% include 'DataimageBundle:Dataimage:view.html.twig' %}
                                        </div>
                                        <!--tab-pane-->                                
                                        <div class="tab-pane {% if tabactive=='yt'%}active{% endif %}" id="tab_1_11">
                                            {%
                                        set configVideos = {
                                            'id': item.id,
                                            'icon': 'youtube',
                                            'title': ('Vídeos de de ' ~ item.title ),
                                            'modifyAllow': modifyAllow,
                                            'type': 'marker'
                                        }
                                            %}  
                                            {% set ytvideos = item.Ytvideos %}
                                            {% include 'YtvideoBundle:Ytvideo:view.html.twig' %}

                                        </div>
                                        <!--tab-pane-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if modifyAllow == true %}
                        <!--tab_1_2-->
                        <div class="tab-pane" id="tab_1_3">
                            <div class="row profile-account">
                                <div class="col-md-3">
                                    <ul class="ver-inline-menu tabbable margin-bottom-10">
                                        <li class="active">
                                            <a data-toggle="tab" href="#tab_1-1">
                                                <i class="icon-cog"></i> 
                                                Datos
                                            </a> 
                                            <span class="after"></span>                                    
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-9">
                                    <div class="tab-content">
                                        <div id="tab_1-1" class="tab-pane active">
                                            {%
                                set configForm = {
                                    'id' : 'modifymarker',
                                    'pathaction': path('gmap_modifymarker', { 'id': item.id }),
                                    'pathcancel': path('gmap_viewmap', {'idproject':item.project})
                                }
                                            %}


                                            {% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
                                                {% block formcontent %}
                                                    {% if form_errors(new_form) %}
                                                        <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                                                    {% endif %}


                                                    {% set configField = { 'label': 'Título', 'field': 'title'} %}  
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                    {% set configField = { 'label': 'Cuerpo', 'field': 'body' } %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                    {% set configField = { 'label': 'Color', 'field': 'color', 'classesinput':'colorpicker' }  %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                    {% set configField = { 'label': 'Sección Externa', 'field': 'externalid', 'classesinput':'select2' }  %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}



                                                    {{ form_widget(new_form._token) }}

                                                {% endblock %}                    
                                            {% endembed %}

                                        </div>
                                    </div>
                                </div>
                                <!--end col-md-9-->                                   
                            </div>
                        </div>
                    {% endif %}
                    <!--end tab-pane-->
                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block additionalscripts %}
    {{ parent() }}
    {% set idfield = 'marker_body' %}
    {% include 'BEInterfaceBundle:_Scripts:texteditor.html.twig' %}    

    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}    


{% endblock %}    