{#
    Pacolmg
    Greetik Soluciones SL
    Login Form
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block body %}
   <link href="/bundles/beinterface/css/pages/login-soft.css" rel="stylesheet" type="text/css" id="style_color"/>     
   <link href="/bundles/gwadmin/css/custom.css" rel="stylesheet" type="text/css" />     

      <!-- BEGIN LOGO -->
   <div class="logo">
      <img src="/bundles/beinterface/img/logo-big.png" alt="Logo" /> 
   </div>
   <!-- END LOGO -->
   <!-- BEGIN LOGIN -->
   <div class="content">
   {{ block('fos_user_content') }}
   </div>
                     
 {% endblock %}
 
  {% block additionalscripts %}
      <script>
      $('body').removeClass();
      $('body').addClass('login');
      </script>
  {% endblock %}